@import url("https://fonts.googleapis.com/css?family=Saira");
@import url("https://fonts.googleapis.com/css?family=Lato");
body.close .sidebar {
  transform: translateX(-300px); }

body.close .sidebar-toggle {
  width: auto; }

body.close .content {
  left: 0; }

@media print {
  .app-nav, .github-corner, .sidebar, .sidebar-toggle {
    display: none; } }

@media screen and (max-width: 768px) {
  .github-corner, .sidebar, .sidebar-toggle {
    position: fixed;
    height: 200%; }
  .app-nav {
    margin-top: 16px; }
  .app-nav li ul {
    top: 30px; }
  main {
    height: auto;
    overflow-x: hidden; }
  .sidebar {
    left: -300px;
    transition: transform .25s ease-out; }
  .content {
    left: 0;
    max-width: 100vw;
    position: static;
    padding-top: 20px;
    transition: transform .25s ease; }
  .app-nav, .github-corner {
    transition: transform .25s ease-out; }
  .sidebar-toggle {
    background-color: transparent;
    width: auto;
    padding: 30px 30px 10px 10px; }
  body.close .sidebar {
    transform: translateX(300px); }
  body.close .sidebar-toggle {
    background-color: rgba(255, 255, 255, 0.8);
    transition: background-color 1s;
    width: 284px;
    padding: 10px; }
  body.close .app-nav, body.close .github-corner {
    display: none; }
  .github-corner:hover .octo-arm {
    animation: none; }
  .github-corner .octo-arm {
    animation: a .56s ease-in-out; } }

@keyframes a {
  0%, to {
    transform: rotate(0); }
  20%, 60% {
    transform: rotate(-25deg); }
  40%, 80% {
    transform: rotate(10deg); } }

.sidebar, body {
  background-color: #fff; }

.sidebar {
  color: #364149; }

.sidebar li {
  margin: 6px 0 6px 15px; }

.sidebar ul li a {
  color: #505d6b;
  font-size: 14px;
  font-weight: 400;
  overflow: hidden;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap; }

.sidebar ul li a:hover {
  text-decoration: underline; }

.sidebar ul li ul {
  padding: 0; }

.app-sub-sidebar li:before {
  content: "-";
  padding-right: 4px;
  float: left; }

.btn-stylized {
  border: none;
  font-family: inherit;
  font-size: 13px;
  color: inherit;
  cursor: pointer;
  padding: 8px 15px;
  display: inline-block;
  margin-bottom: 7px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  transition: all 0.3s;
  background: #3eb1f3 !important;
  color: #fff;
  box-shadow: 0 4px #05598a;
  transition: none;
  border-radius: 3px; }
  .btn-stylized:after {
    content: '';
    position: absolute;
    z-index: -1;
    transition: all 0.3s; }

.btn-stylized:hover {
  box-shadow: 0 2px #216349;
  top: 2px; }

.btn-stylized:active {
  box-shadow: 0 0 #216349;
  top: 4px; }

.btn-stylized:disabled {
  opacity: 0.2;
  top: 2px;
  box-shadow: 0 4px #216349; }

body, html {
  font-family: 'Lato', sans-serif;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none;
  box-sizing: border-box; }

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #1d212b; }

::-webkit-scrollbar {
  width: 12px;
  background-color: #333333; }

::-webkit-scrollbar-thumb {
  border: 1.5px solid #1d212b;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #7f86f5; }

body {
  background-image: url("/doc/img/backgrounds/bg-squares.png");
  background-position: bottom left;
  background-attachment: fixed;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 18px;
  letter-spacing: 0;
  margin: 0;
  overflow-x: hidden;
  background-color: #131d26; }

h1, h2, h3, h4 {
  font-family: Saira, sans-serif;
  color: #202a37; }

.sticky .sidebar {
  position: fixed; }

main {
  display: block;
  position: relative;
  width: 100vw;
  height: 100%;
  z-index: 0; }
  main.hidden {
    display: none; }

.content {
  width: 95%;
  margin: 0 auto;
  margin-top: 105px;
  max-width: 1200px;
  padding-top: 0px; }

@media screen and (max-width: 1650px) {
  .content {
    padding-left: 245px; }
  .close .content {
    padding-left: 0px; } }

img {
  max-width: 100%; }

a[disabled] {
  cursor: not-allowed;
  opacity: .6; }

.task-list-item {
  list-style-type: none; }

li input[type=checkbox] {
  margin: 0 .2em .25em -1.6em;
  vertical-align: middle; }

.gettings_started_block {
  margin-bottom: 30px !important;
  border-radius: 2px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1);
  padding: 23px; }
  .gettings_started_block h1 {
    font-weight: 200;
    font-size: 28px;
    color: white; }

.runtime-page .gettings_started_block {
  background: linear-gradient(to bottom, #3eb1f3 0, #084365 100%); }

.plus-page .gettings_started_block {
  background: linear-gradient(to bottom, #01cea2 0, #024839 100%); }

.enterprise-page .gettings_started_block {
  background: linear-gradient(to bottom, #7f86f5 0, #2c2e44 100%); }

.show-menu {
  display: none; }

@media screen and (max-width: 1000px) {
  .show-menu {
    margin-bottom: 20px;
    display: block; } }

/**
 * Algolia Search
 */
.algolia-autocomplete .search_input {
  text-align: left;
  padding: 0px 0px 0px 10px !important;
  border-radius: 4px;
  height: 35px; }

#hits {
  display: none; }

#hits.hide {
  display: none !important; }

.highlight_word {
  color: #01cea2; }

.token.cdata, .token.comment, .token.doctype, .token.prolog {
  color: #8e908c; }

.token.namespace {
  opacity: .7; }

.token.boolean, .token.number {
  color: #c76b29; }

.token.punctuation {
  color: #525252; }

.token.property {
  color: #c08b30; }

.token.tag {
  color: #2973b7; }

.token.string {
  color: var(--theme-color, #42b983); }

.token.selector {
  color: #6679cc; }

.token.attr-name {
  color: #2973b7; }

.language-css .token.string, .style .token.string, .token.entity, .token.url {
  color: #22a2c9; }

.token.attr-value, .token.control, .token.directive, .token.unit {
  color: var(--theme-color, #42b983); }

.token.keyword {
  color: #e96900; }

.token.atrule, .token.regex, .token.statement {
  color: #22a2c9; }

.token.placeholder, .token.variable {
  color: #3d8fd1; }

.token.deleted {
  text-decoration: line-through; }

.token.inserted {
  border-bottom: 1px dotted #202746;
  text-decoration: none; }

.token.italic {
  font-style: italic; }

.token.bold, .token.important {
  font-weight: 700; }

.token.important {
  color: #c94922; }

.token.entity {
  cursor: help; }

code .token {
  -moz-osx-font-smoothing: initial;
  -webkit-font-smoothing: initial;
  min-height: 1.5rem; }

pre:after {
  color: #ccc;
  content: attr(data-lang);
  font-size: .6rem;
  font-weight: 600;
  height: 15px;
  line-height: 15px;
  padding: 5px 10px 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0; }

.docsify-copy-code-button {
  background: #ccc;
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  outline: 0;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  z-index: 1;
  padding: 10px;
  transition: all 0.25s ease;
  opacity: 0; }

.docsify-copy-code-button::after {
  content: "Copied!";
  position: absolute;
  right: 100%;
  top: 0;
  background: #ccc;
  color: #fff;
  padding: 5px;
  margin: 5px 10px 0;
  font-size: 11px;
  z-index: 0;
  transition: all 0.25s ease;
  transform: translateX(120%) scale(0);
  border-radius: 3px; }

.docsify-copy-code-button.success::after {
  transform: translateX(0) scale(1); }

pre[v-pre]:hover .docsify-copy-code-button {
  opacity: 1; }

pre:hover .docsify-copy-code-button {
  opacity: 1; }

.edit-page {
  margin-bottom: 16px;
  float: right; }

.runtime-page div.edit-page a {
  color: #3eb1f3; }

.plus-page div.edit-page a {
  color: #01cea2; }

.enterprise-page div.edit-page a {
  color: #7f86f5; }

.edit-page:hover {
  cursor: pointer; }

.edit-page__text {
  font-size: 14px !important;
  font-weight: 500 !important;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.8px;
  text-align: left;
  margin: 0px 20px;
  padding: 0px;
  display: block;
  position: relative;
  left: 3px; }

.footer {
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
  color: white; }
  .footer ul {
    list-style-type: none; }
  .footer li {
    line-height: 30px; }
  .footer a {
    color: #888;
    text-decoration: none; }

.header-section {
  z-index: 100; }

.header-section .header-container {
  background: linear-gradient(to bottom, #1b2329 0, #1a2935 100%);
  display: flex;
  align-items: center;
  min-height: 76px;
  padding-left: 16px;
  padding-right: 16px; }
  .header-section .header-container .sidebar-spacer {
    background: red;
    width: 10px; }
  .header-section .header-container .center-spacer {
    flex: 1; }
  .header-section .header-container .header-links {
    max-width: 840px; }
  .header-section .header-container .header-nav-links li:not(:first-child) {
    margin-left: 20px; }
  .header-section .header-container .header-nav-links {
    display: flex;
    list-style: none; }
    .header-section .header-container .header-nav-links a, .header-section .header-container .header-nav-links a:focus, .header-section .header-container .header-nav-links a:hover {
      color: #fff;
      text-decoration: none; }

@media screen and (max-width: 768px) {
  .header-section .header-container .sidebar-spacer {
    width: 0px; } }

.header-section .header-container .logo {
  width: 8.333333333333333em;
  height: 2.333333333333333rem;
  background-repeat: no-repeat;
  background-size: cover; }

@media only screen and (min-width: 62em) {
  .header-section .header-container .logo {
    margin-top: .5rem; } }

.header-section .header-container .toggle-nav {
  display: none; }

.header-section .header-container .btn-menu {
  color: #ffffff;
  -webkit-transition: -webkit-transform 500ms ease;
  transition: -webkit-transform 500ms ease;
  transition: transform 500ms ease;
  transition: transform 500ms ease, -webkit-transform 500ms ease;
  position: absolute;
  top: 1.111111111111111rem;
  right: 1.111111111111111rem;
  font-size: 2rem;
  line-height: 2rem;
  cursor: pointer; }

.header-section .header-container .btn-menu:after {
  content: "\2630";
  -webkit-backface-visibility: hidden;
  -webkit-transition: 500ms ease;
  transition: 500ms ease; }

.header-section .header-container .toggle-nav:checked + .menu-btn {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg); }

.header-section .header-container .header-nav {
  display: none;
  font-size: 1.333333333333333rem;
  margin-top: 1.111111111111111rem; }

.header-section .header-container .header-nav div,
.header-section .header-container .header-nav a {
  display: block;
  text-align: center;
  padding: .5rem 1rem; }

.header-section .header-container .header-nav div:hover,
.header-section .header-container .header-nav div:focus,
.header-section .header-container .header-nav div:active,
.header-section .header-container .header-nav a:hover,
.header-section .header-container .header-nav a:focus,
.header-section .header-container .header-nav a:active {
  text-decoration: none;
  background-color: #2a3747; }

.header-section .header-container .header-nav .expander {
  cursor: pointer; }

.header-section .header-container .header-nav .expander .more-arrow {
  display: none; }

@media only screen and (min-width: 62em) {
  .header-section .header-container .header-nav .expander .more-arrow {
    display: block;
    position: absolute;
    right: 0;
    top: .65rem;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg); } }

.header-section .header-container .header-nav .menu .second-level a {
  color: #6a6a6a; }

@media only screen and (min-width: 62em) {
  .header-section .header-container .header-nav {
    display: inline-block;
    vertical-align: bottom;
    margin-top: 0; }
  .header-section .header-container .header-nav ul,
  .header-section .header-container .header-nav ul li,
  .header-section .header-container .header-nav ul li div,
  .header-section .header-container .header-nav ul li a {
    display: inline-block;
    vertical-align: bottom;
    position: relative; }
  .header-section .header-container .header-nav .menu .second-level {
    display: none; }
  .header-section .header-container .header-nav .menu .second-level.active {
    display: block;
    position: absolute;
    left: 0;
    top: 2.5rem;
    -webkit-box-shadow: 0 0.55556rem 0.55556rem 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 0.55556rem 0.55556rem 0 rgba(0, 0, 0, 0.25);
    text-align: left; }
  .header-section .header-container .header-nav .menu .second-level.active li:not(:last-child) {
    border-bottom: 1px solid #202a37; }
  .header-section .header-container .header-nav .menu .second-level.active li {
    display: block; }
  .header-section .header-container .header-nav .menu .second-level.active li a {
    display: block;
    text-align: left;
    color: #ffffff;
    font-size: 1.222222222222222rem; }
  .header-section .header-container .header-nav .user-nav {
    margin-left: 2rem; }
  .header-section .header-container .header-nav .user-nav li:first-child {
    border-right: 1px solid #ffffff; } }

.header-section .header-container .toggle-nav:checked ~ .header-nav {
  display: block; }

.logo {
  font-size: 1.2em; }

.app-nav,
.app-nav.no-badge,
.header-section {
  margin: 0px;
  position: fixed !important;
  width: 100%;
  min-height: 76px;
  top: 0px; }

@media screen and (min-width: 480px) {
  .PM2_logo_wrapper {
    max-width: 200px; } }

.PM2 {
  width: 140px;
  height: 23px;
  text-align: center;
  display: block;
  margin: 0 auto;
  position: relative;
  top: 41px;
  /* background: yellowgreen;*/ }

.PM2_logo {
  background: url("/doc/img/pm2-docs.svg");
  background-repeat: no-repeat;
  background-size: contain; }

.PM2_logo {
  width: 140px;
  min-height: 23px;
  margin: 20px auto;
  display: block;
  position: relative;
  left: 8px; }

.user-nav a {
  font-size: 24px;
  font-weight: 100; }

.search {
  display: none; }

.algolia-autocomplete input {
  max-width: 266px;
  border: none; }

.algolia-results {
  position: absolute;
  z-index: 5;
  top: 52px;
  background: #202a37;
  padding: 20px 20px;
  border-radius: 5px; }

.algolia-results a, .algolia-results a:visited {
  color: white;
  font-weight: 400; }

.algolia-results a em {
  background-color: #3eb1f3; }

@media screen and (min-width: 480px) {
  .PM2_search {
    position: relative; } }

.search-wrapper input {
  text-align: center;
  padding: 0 40px 0 39px;
  padding-left: 55px !important;
  height: 47px;
  border-radius: 30px;
  background-color: #ffffff;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1); }

.search-wrapper input:hover, .search-wrapper input:active, .search-wrapper input:focus {
  outline: none; }

.search-wrapper {
  position: relative; }

.search-wrapper input {
  font-size: 18px !important;
  color: #979797;
  font-weight: 400;
  margin: 0px !important;
  max-width: 100%;
  border-radius: 20px;
  margin: 20px;
  padding-left: 45px !important;
  padding-right: 40px !important; }

.markdown-section {
  margin: 0 auto;
  padding: 30px 15px 40px;
  position: relative;
  padding: 30px;
  border-radius: 2px;
  background-color: #ffffff;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1); }
  .markdown-section h1, .markdown-section h2, .markdown-section h3, .markdown-section h4 {
    font-weight: 500; }
  .markdown-section h1 {
    margin: 0; }
  .markdown-section a {
    color: #3f83b7; }
  .markdown-section h2 {
    margin-top: 32px;
    border-bottom: 1px solid #bbb;
    line-height: 40px; }
    .markdown-section h2 a {
      text-decoration: none; }
  .markdown-section h3 {
    margin-top: 32px;
    border-bottom: 1px solid #bbb;
    line-height: 40px; }
    .markdown-section h3 a {
      color: #333;
      text-decoration: none; }
  .markdown-section .anchor-title:before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 200px; }
  .markdown-section p {
    line-height: 28px; }
  .markdown-section blockquote {
    border-left: 4px solid var(--theme-color, #42b983);
    color: #858585;
    margin: 2em 0;
    padding-left: 20px; }
  .markdown-section blockquote p {
    font-weight: 600;
    margin-left: 0; }
  .markdown-section ol, .markdown-section ul {
    line-height: 1.6rem;
    word-spacing: .05rem;
    padding-left: 1.5rem; }
  .markdown-section code, .markdown-section pre {
    background-color: #171e27; }
  .markdown-section .tip code {
    background-color: #222; }
  .markdown-section pre {
    position: relative;
    padding: 13px;
    color: white;
    font-size: 16px;
    border-radius: 2px;
    white-space: pre-wrap;
    line-height: 27px; }
  .markdown-section code {
    font-size: 16px;
    padding: 2px 6px;
    color: white; }
  .markdown-section em {
    color: #7f8c8d; }
  .markdown-section .warn {
    border-radius: 2px;
    background-color: rgba(206, 183, 1, 0.08) !important;
    border: solid 1px #ceb701;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.5px;
    font-family: 'Saira';
    text-align: left;
    color: #ceab01;
    background: rgba(66, 185, 131, 0.1);
    border-radius: 2px;
    padding: 1rem; }
  .markdown-section iframe {
    border: 1px solid #eee;
    margin: 1em 0; }
  .markdown-section #gittalk {
    margin-top: 40px;
    border-top: 1px solid #aaa; }
  .markdown-section table {
    border-collapse: collapse;
    border-spacing: 0;
    display: block;
    margin-bottom: 1rem;
    overflow: auto;
    width: 100%; }
    .markdown-section table td, .markdown-section table th {
      border: 1px solid #ddd;
      padding: 6px 13px; }
    .markdown-section table th {
      font-weight: 700; }
    .markdown-section table tr {
      border-top: 1px solid #ccc; }

.markdown-section p.tip, .markdown-section tr:nth-child(2n) {
  background-color: #f8f8f8; }

.markdown-section p.tip {
  border-bottom-right-radius: 2px;
  border-left: 4px solid #f66;
  border-top-right-radius: 2px;
  margin: 2em 0;
  padding: 12px 24px 12px 30px;
  position: relative; }
  .markdown-section p.tip:before {
    background-color: #f66;
    border-radius: 100%;
    color: #fff;
    content: "!";
    font-size: 14px;
    font-weight: 700;
    left: -12px;
    line-height: 20px;
    position: absolute;
    height: 20px;
    width: 20px;
    text-align: center;
    top: 14px; }
  .markdown-section p.tip code {
    background-color: #666; }
  .markdown-section p.tip em {
    color: #34495e; }

.close .markdown-section {
  float: unset;
  margin: 0 auto; }
  @media screen and (min-width: 768px) {
    .close .markdown-section {
      border-radius: 0px; } }
  @media screen and (min-width: 1200px) {
    .close .markdown-section {
      border-radius: 0px; } }
  @media screen and (min-width: 1400px) {
    .close .markdown-section {
      border-radius: 0px; } }
  @media screen and (min-width: 1600px) {
    .close .markdown-section {
      border-radius: 0px; } }

.runtime-page hr:before {
  background-color: #3eb1f3; }

.runtime-page main a {
  color: #3eb1f3; }

.runtime-page h2 a:before {
  background-image: url("/doc/img/runtime/rect-r.png"); }

.runtime-page h2 {
  color: #3eb1f3; }
  .runtime-page h2 a {
    color: #3eb1f3; }

.plus-page main a {
  color: #01cea2; }

.plus-page hr:before {
  background-color: #01cea2; }

.plus-page h2 a:before {
  background-image: url("/doc/img/plus/rect-m.png"); }

.plus-page h2 {
  color: #01cea2; }
  .plus-page h2 a {
    color: #01cea2; }

.enterprise-page main a {
  color: #7f86f5; }

.enterprise-page hr:before {
  background-color: #7f86f5; }

.enterprise-page h2 a:before {
  background-image: url("/doc/img/enterprise/rect-e.png"); }

.enterprise-page h2 {
  color: #7f86f5; }
  .enterprise-page h2 a {
    color: #7f86f5; }

/* hr{ */
/*   background: #D2DFEE; */
/*   height: 45px; */
/*   margin-left: -40px; */
/*   margin-right: -40px; */
/*   position: relative; */
/*   border: 0px; */
/* } */
/* Simulate page jump */
/* hr:before { */
/*     content: ''; */
/*     height: 5px; */
/*     box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1); */
/*     display: block; */
/*     margin-left: 10px; */
/*     margin-right: 10px; */
/* } */
hr {
  display: none; }

/*Copy plugin*/
button.docsify-copy-code-button {
  height: 36px;
  background-color: #3eb1f3;
  border-radius: 5px;
  z-index: 99999;
  margin-right: 5px;
  margin-top: 5px;
  text-align: center;
  padding: 5px; }

.docsify-copy-code-button::after {
  display: none; }

.sidebar {
  background: #202a37;
  border-right: 1px solid rgba(0, 0, 0, 0.07);
  overflow-y: auto;
  padding: 60px 0 0;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 4;
  left: 0;
  transition: transform .25s ease-out;
  width: 235px; }
  @media screen and (max-width: 768px) {
    .sidebar {
      left: 0px; } }

.sidebar .sidebar-nav {
  line-height: 2em;
  padding-bottom: 40px; }

.sidebar li.collapse .app-sub-sidebar {
  display: none; }

.sidebar ul {
  margin: 0;
  padding: 0; }

.sidebar li > p {
  font-weight: 700;
  margin: 0; }

.sidebar ul, .sidebar ul li {
  list-style: none; }

.sidebar ul li a {
  border-bottom: none;
  display: block; }

.sidebar ul li ul {
  padding-left: 20px; }

.sidebar::-webkit-scrollbar {
  width: 4px; }

.sidebar::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 4px; }

.sidebar:hover::-webkit-scrollbar-thumb {
  background: rgba(135, 135, 135, 0.4); }

.sidebar:hover::-webkit-scrollbar-track {
  background: rgba(135, 135, 135, 0.1); }

.sidebar-toggle {
  background-color: transparent;
  background-color: rgba(255, 255, 255, 0.8);
  border: 0;
  outline: none;
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  transition: opacity .3s;
  width: 284px;
  z-index: 4; }

.sidebar-toggle .sidebar-toggle-button:hover {
  opacity: .4; }

.sidebar-toggle span {
  background-color: var(--theme-color, #42b983);
  display: block;
  margin-bottom: 4px;
  width: 16px;
  height: 2px; }

body.close .sidebar {
  -webkit-transform: translateX(-375px);
  transform: translateX(-375px); }

.sidebar-nav > ul {
  padding: 24px 24px 16px 30px !important; }

.sidebar ul li ul {
  padding-left: 12px !important; }

.sidebar-nav ul li {
  margin: 16px 0 0 0; }

.sidebar-nav a.active {
  color: #3eb1f3 !important; }

@media screen and (max-width: 768px) {
  body.close .sidebar-toggle {
    background-color: transparent; } }

.sidebar-toggle {
  background-color: transparent;
  left: -50px; }

.sidebar-toggle-button span {
  background-color: white; }

.sidebar-toggle {
  z-index: 5; }

.sidebar li {
  margin: 6px 0 6px 20px; }

.sidebar ul li a {
  color: #fff;
  font-weight: 500;
  text-align: left;
  letter-spacing: 1px;
  line-height: 1.6;
  font-size: 16px; }

.sidebar ul li ul li a {
  font-size: 14px; }

.runtime-page .sidebar ul li.active > a {
  color: #3eb1f3; }

.plus-page .sidebar ul li.active > a {
  color: #01cea2; }

.enterprise-page .sidebar ul li.active > a {
  color: #7f86f5; }

.sidebar ul li.active > a {
  font-weight: 600;
  border-right: 0px;
  border-left: 2px solid;
  padding-left: 10px;
  position: relative;
  left: -10px; }

.homepage .content {
  width: 500px;
  margin: 0 auto;
  margin-top: 180px; }
  .homepage .content a {
    text-decoration: none; }
    .homepage .content a :hover {
      transition: opacity .15s ease-in-out;
      opacity: 0.6; }
  .homepage .content .product-line {
    text-align: center;
    margin-bottom: 50px;
    padding: 15px; }
    .homepage .content .product-line h2 {
      margin: 0;
      color: white;
      margin-top: 15px;
      font-size: 24px; }
    .homepage .content .product-line .logo-img {
      width: 500px;
      display: block; }
