<footer class="footer">
  <ul>
    <!-- <li><a href="https://pm2.io/" title="PM2.IO The Ultimate Toolset for Node.js">PM2 Home</a></li>
    <li><a href="https://app.pm2.io/" title="PM2.io Application">PM2 Plus Application</a></li> -->
    {% if page.section == 'runtime' %}
    <li>Language: <a href="{{ site.baseurl }}/ch/runtime/overview/">Chinese</a></li>
    {% else %}
    <li>Language: <a href="{{ site.baseurl }}/ch/plus/overview/">Chinese</a></li>
    {% endif %}
    <li><p>© 2018 PM2</p></li>
  </ul>

</footer>
