<footer class="footer">
  <p>© 2018 PM2 Plus</p>
  <ul id="footer">
    <li><a href="https://pm2.io/" title="PM2.IO The Ultimate Toolset for Node.js">PM2.io</a></li>
    <li><a href="https://app.pm2.io/" title="PM2.io Application">应用 PM2 Plus</a></li>
    {% if page.section == 'runtime' %}
    <li>Language: <a href="{{ site.baseurl }}/en/runtime/overview/" >English</a></li>
    {% else %}
    <li>Language: <a href="{{ site.baseurl }}/en/plus/overview/" >English</a></li>
    {% endif %}
  </ul>
</footer>
