<footer>
	<hr class="black-divider mt-3">


		<div class="">
			<div class="text-right text-size-80">
				<p>Copyright &copy;{{ "now" | date: "%Y" }}. All Rights Reserved.</p>
			</div>

		</div>

</footer>


<script src="{{ "assets/js/jquery.min.js" | relative_url }}"></script>
<script src="{{ "assets/js/popper.min.js" | relative_url }}"></script>
<script src="{{ "assets/js/bootstrap.min.js" | relative_url }}"></script>
<script type="text/javascript">
$(document).ready(function(){
    $('a[data-toggle="tab"]').on('show.bs.tab', function(e) {
        localStorage.setItem('activeTab', $(e.target).attr('href'));
    });
    var activeTab = localStorage.getItem('activeTab');
    if(activeTab){
        $('#myTab a[href="' + activeTab + '"]').tab('show');
    }
});
</script>

