<script>window.$docsify = {"basePath":"/docs","alias":{"/runtime/.*/_sidebar.md":"/runtime/_sidebar.md","/monitoring/.*/_sidebar.md":"/monitoring/_sidebar.md","/enterprise/.*/_sidebar.md":"/enterprise/_sidebar.md"},"auto2top":true,"coverpage":false,"executeScript":true,"loadSidebar":"_sidebar.md","loadNavbar":false,"mergeNavbar":false,"subMaxLevel":1,"name":"","search":false,"plugins":[],"routerMode":"history"}</script>
<!-- <script src="//unpkg.com/docsify/lib/docsify.min.js"></script> -->
<!-- <script src="{{ "/docs/assets/js/docsify.js" | relative_url }}"></script> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.4.0/clipboard.min.js"></script> -->
<script src="https://unpkg.com/clipboard@2.0.0/dist/clipboard.min.js"></script>
<script src="https://unpkg.com/prismjs@1.13.0/prism.js"></script>
<script src="https://unpkg.com/prismjs/components/prism-bash.min.js"></script>
<script src="https://unpkg.com/prismjs/components/prism-markdown.min.js"></script>
<script src="https://unpkg.com/prismjs/components/prism-nginx.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-md5/2.10.0/js/md5.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.js"></script>
<!-- <script src="/docs/assets/js/jquery.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/docs/assets/js/prism-clipboard.js"></script>
<!-- <script src="{{ "/docs/assets/js/copy-code.js" | relative_url }}"></script> -->
<!-- <script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script> -->
<!-- <script src="{{ "/docs/assets/js/gittalk.js" | relative_url }}"></script> -->
<script src="/docs/assets/js/keymetrics-plugins.js"></script>
<script src="/docs/assets/js/foundation.min.js"></script>
<script>$(document).foundation();$(window).on('changed.zf.mediaquery', function() {
  $('.is-accordion-submenu.invisible').removeClass('invisible');});</script>
<script src="/docs/assets/js/additional.js"></script>