<aside class="sidebar"><div class="sidebar_2_wrapper">
            <div class="sidebar_2">
                <a href="/runtime/overview" data-page="runtime-page">
                    <div class="sidebar_2_item sidebar_2_item_runtime">
                        <img class="sidebar_2_item__image" src="{{ "/docs/static/pm2-logo-r.png" | relative_url }}">
                        <div class="sidebar_2_item__text">Runtime</div>
                    </div>
                </a>
                <a href="/monitoring/overview" data-page="monitoring-page">
                    <div class="sidebar_2_item sidebar_2_item_monitoring">
                        <img class="sidebar_2_item__image" src="{{ "/docs/static/pm2-logo-m.png" | relative_url }}">
                        <div class="sidebar_2_item__text">Monitoring</div>
                    </div>
                </a>
                <a href="/enterprise/overview" data-page="enterprise-page">
                    <div class="sidebar_2_item sidebar_2_item_enterprise">
                        <img class="sidebar_2_item__image" src="{{ "/docs/static/pm2-logo-e.png" | relative_url }}">
                        <div class="sidebar_2_item__text">Enterprise</div>
                    </div>
                </a>
            </div>
            <div class="main_content">
            </div>
        </div><div class="sidebar-nav"><ul>
<li><a href="/runtime/overview">Overview</a></li>
<li class="active"><a href="/runtime/quickstart">Quick Start</a></li>
<li><a href="/runtime/guide/">Guide</a><ul>
<li><a href="/runtime/guide/installation">Installation</a></li>
<li><a href="/runtime/guide/ecosystem-file">Ecosystem File</a></li>
<li><a href="/runtime/guide/process-management">Process Management</a></li>
<li><a href="/runtime/guide/log-management">Log Management</a></li>
<li><a href="/runtime/guide/startup-hook">Startup Hook</a></li>
<li><a href="/runtime/guide/load-balancing">Load-Balancing (cluster mode)</a></li>
<li><a href="/runtime/guide/development-tools">Development Tools</a></li>
<li><a href="/runtime/guide/easy-deploy-with-ssh">Easy Deploy with SSH</a></li>
</ul>
</li>
<li><a href="/runtime/production-best-practices/">Production Best Practices</a><ul>
<li><a href="/runtime/production-best-practices/environment-variables-in-nodejs">Environment Variables in Node.js</a></li>
<li><a href="/runtime/production-best-practices/graceful-shutdown">Graceful Shutdown</a></li>
<li><a href="/runtime/production-best-practices/stateless-application">Stateless Application</a></li>
</ul>
</li>
<li><a href="/runtime/integration/">Integration</a><ul>
<li><a href="/runtime/integration/elastic-beanstalk">AWS Elastic Beanstalk</a></li>
<li><a href="/runtime/integration/docker">Docker</a></li>
<li><a href="/runtime/integration/heroku">Heroku</a></li>
<li><a href="/runtime/integration/transpilers">Transpilers</a></li>
<li><a href="/runtime/integration/cloud-providers">With a Cloud Provider</a></li>
</ul>
</li>
<li><a href="/runtime/references/">References</a><ul>
<li><a href="/runtime/references/ecosystem-file">Ecosystem File</a></li>
<li><a href="/runtime/references/pm2-cli">CLI</a></li>
<li><a href="/runtime/references/pm2-programmatic">Programmatic</a></li>
</ul>
</li>
</ul><script>window.__SUB_SIDEBAR__ = ""</script></div></aside>