<aside class="sidebar">
    <div class="sidebar_2_wrapper">
        <div class="sidebar_2">
            <a href={{ "/process-manager/overview" | prepend: page.lang | prepend: "/" | relative_url }} data-page="process-manager-page">
                <div class="sidebar_2_item sidebar_2_item_process-manager">
                    <img class="sidebar_2_item__image" src={{ "/static/pm2-logo-r.png" | relative_url }}>
                    <div class="sidebar_2_item__text"></div>
                </div>
            </a>
            <a href={{ "/plus/overview" | prepend: page.lang | prepend: "/" | relative_url }} data-page="plus-page">
                <div class="sidebar_2_item sidebar_2_item_plus">
                    <img class="sidebar_2_item__image" src={{ "/static/pm2-logo-m.png" | relative_url }}>
                    <div class="sidebar_2_item__text">{% if page.lang contains 'en' %}{{'Plus'}}{% elsif page.lang contains 'ch' %}{{'监控'}}{% endif %}</div>
                </div>
            </a>
            <a href={{ "/enterprise/overview" | prepend: page.lang | prepend: "/" | relative_url }} data-page="enterprise-page">
                <div class="sidebar_2_item sidebar_2_item_enterprise">
                    <img class="sidebar_2_item__image" src={{ "/static/pm2-logo-e.png" | relative_url }}>
                    <div class="sidebar_2_item__text">{% if page.lang contains 'en' %}{{'Enterprise'}}{% elsif page.lang contains 'ch' %}{{'企业'}}{% endif %}</div>
                </div>
            </a>
        </div>
        <div class="main_content">
        </div>
    </div>
    <div class="sidebar-nav">

    <ul id="acc">
    {% if page.url contains 'process-manager' %}{% assign category ='process-manager' %}{% elsif page.url contains "plus" %}{% assign category ="plus" %}{% elsif page.url contains "enterprise" %}{% assign category ="enterprise" %}{% else %}{% assign category ='process-manager' %}{% endif %}
    {% if page.lang contains 'en' %}{% assign sidebar = site.data.sidebar-en %}{% elsif page.lang contains 'ch' %}{% assign sidebar = site.data.sidebar-ch %}{% endif %}
    {% for item in sidebar.[category] %}
    {% assign slug_title = item.title | slugify %}
    {% if page.url contains slug_title %}{% assign active = 'active' %}{% else %}{% assign active = '' %}{% endif %}
        <li class="{{ active }}">
            <a href="{{site.baseurl}}{{ item.url }}">{{ item.title }}</a>
            {% if item.submenu  %}
                {% if page.url contains item.url  %}
                    <ul>
                        {% for entry in item.submenu %}
                        {% if page.url contains entry.url %}{% assign active = 'active' %}{% else %}{% assign active = '' %}{% endif %}
                        <li class="{{ active }}"><a href="{{site.baseurl}}{{ entry.url }}">{{ entry.page }}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endif %}
        </li>
    {% endfor %}
    </ul>

    </div>
</aside>
