.markdown-section h2, .markdown-section h1, .markdown-section h3 {
    margin-top: -100px!important;
    padding-top: 100px!important;
}

.close .markdown-section {
    float: unset;
    margin: 0 auto;
    @media screen and (min-width: 768px) {
        border-radius:0px;
    }
    @media screen and (min-width: 992px) {
    }
    @media screen and (min-width: 1200px) {
        border-radius: 0px;
        
    }
    @media screen and (min-width: 1400px) {
        border-radius: 0px;
        
    }
    @media screen and (min-width: 1600px) {
        border-radius: 0px;
    }
}

.markdown-section {
    padding:30px;
    float: left;
    margin-left: 20px;
    border-radius: 2px;
    background-color: #ffffff;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1);
    max-width: 940px;
    width:95%;
    

    @media screen and (min-width: 768px) {
        border-radius:0px;
    }
    @media screen and (min-width: 992px) {
        border-radius: 0px;
    }
    @media screen and (min-width: 1200px) {
        border-radius: 0px;
    }
    @media screen and (min-width: 1400px) {
        border-radius: 0px;

    }
    @media screen and (min-width: 1600px) {
        border-radius: 0px;
    }
}
.markdown-section code,
.markdown-section pre {
    background-color: #171e27;
}