@mixin gradient($from, $to) {
  background: -moz-linear-gradient(45deg, $from, $to);
  background: -webkit-linear-gradient(45deg, $from, $to);
  background: linear-gradient(45deg, $from, $to);
}

p.btn-stylized {
  text-align: center;
}

.runtime-page {
  p.btn-stylized a {
    @include gradient(#3EB1F3, #72D9FA);
  }
}

.plus-page {
  p.btn-stylized a {
    @include gradient(#01CEA2, #61E8CB);
  }
}

.enterprise-page {
  p.btn-stylized a {
    @include gradient(#7F86F5, #BABEFD);
  }
}

p.btn-stylized a {
  display: inline-block;
  font-size: 18px;
  border-radius: 3px;
  color: white !important;
  text-decoration: none;
  // box-shadow: 0px 2px 10px #999;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 10px;
  padding: 10px 20px;
  background-size: 250% 100% !important;
  background-position: 100% 0% !important;

  &:hover {
    background-position: 0% !important;
    box-shadow: 0 0 12px #bbb;
    transition: all 0.3s ease;
    transform: translateY(-1px);
  }

  &:active {
    transform: translateY(0);
    background-position: 50% !important;
  }
}
