.markdown-section pre>code {
    background-color: #171e27;
    color: #fff
}

.highlight_word {
    color: #01cea2;
}

// from docsify

.markdown-section code{
  border-radius:2px;
  color:#e96900;
  font-size:.8rem;
  margin:0 2px;
  padding:3px 5px;
  white-space:pre-wrap
}
.markdown-section code,.markdown-section pre{
  background-color:#f8f8f8
}
.markdown-section pre{
  -moz-osx-font-smoothing:initial;
  -webkit-font-smoothing:initial;
  line-height:1.5rem;
  margin:1.2em 0;
  overflow:auto;
  padding:0 1.4rem;
  position:relative;
  word-wrap:normal
}
.token.cdata,.token.comment,.token.doctype,.token.prolog{
  color:#8e908c
}
.token.namespace{
  opacity:.7
}
.token.boolean,.token.number{
  color:#c76b29
}
.token.punctuation{
  color:#525252
}
.token.property{
  color:#c08b30
}
.token.tag{
  color:#2973b7
}
.token.string{
  color:var(--theme-color,#42b983)
}
.token.selector{
  color:#6679cc
}
.token.attr-name{
  color:#2973b7
}
.language-css .token.string,.style .token.string,.token.entity,.token.url{
  color:#22a2c9
}
.token.attr-value,.token.control,.token.directive,.token.unit{
  color:var(--theme-color,#42b983)
}
.token.keyword{
  color:#e96900
}
.token.atrule,.token.regex,.token.statement{
  color:#22a2c9
}
.token.placeholder,.token.variable{
  color:#3d8fd1
}
.token.deleted{
  text-decoration:line-through
}
.token.inserted{
  border-bottom:1px dotted #202746;
  text-decoration:none
}
.token.italic{
  font-style:italic
}
.token.bold,.token.important{
  font-weight:700
}
.token.important{
  color:#c94922
}
.token.entity{
  cursor:help
}
.markdown-section pre>code{
  -moz-osx-font-smoothing:initial;
  -webkit-font-smoothing:initial;
  background-color:#f8f8f8;
  border-radius:2px;
  color:#525252;
  display:block;
  font-size:.8rem;
  line-height:inherit;
  margin:0 2px;
  max-width:inherit;
  overflow:inherit;
  padding:2.2em 5px;
  white-space:inherit
}
.markdown-section code:after,.markdown-section code:before{
  letter-spacing:.05rem
}
code .token{
  -moz-osx-font-smoothing:initial;
  -webkit-font-smoothing:initial;
  min-height:1.5rem
}
pre:after{
  color:#ccc;
  content:attr(data-lang);
  font-size:.6rem;
  font-weight:600;
  height:15px;
  line-height:15px;
  padding:5px 10px 0;
  position:absolute;
  right:0;
  text-align:right;
  top:0
}