
.highlight_word {
    color: #01cea2;
}

// from docsify

.token.cdata,.token.comment,.token.doctype,.token.prolog{
  color:#8e908c
}
.token.namespace{
  opacity:.7
}
.token.boolean,.token.number{
  color:#c76b29
}
.token.punctuation{
  color:#525252
}
.token.property{
  color:#c08b30
}
.token.tag{
  color:#2973b7
}
.token.string{
  color:var(--theme-color,#42b983)
}
.token.selector{
  color:#6679cc
}
.token.attr-name{
  color:#2973b7
}
.language-css .token.string,.style .token.string,.token.entity,.token.url{
  color:#22a2c9
}
.token.attr-value,.token.control,.token.directive,.token.unit{
  color:var(--theme-color,#42b983)
}
.token.keyword{
  color:#e96900
}
.token.atrule,.token.regex,.token.statement{
  color:#22a2c9
}
.token.placeholder,.token.variable{
  color:#3d8fd1
}
.token.deleted{
  text-decoration:line-through
}
.token.inserted{
  border-bottom:1px dotted #202746;
  text-decoration:none
}
.token.italic{
  font-style:italic
}
.token.bold,.token.important{
  font-weight:700
}
.token.important{
  color:#c94922
}
.token.entity{
  cursor:help
}

code .token{
  -moz-osx-font-smoothing:initial;
  -webkit-font-smoothing:initial;
  min-height:1.5rem
}
pre:after{
  color:#ccc;
  content:attr(data-lang);
  font-size:.6rem;
  font-weight:600;
  height:15px;
  line-height:15px;
  padding:5px 10px 0;
  position:absolute;
  right:0;
  text-align:right;
  top:0
}
