
#edit-page {
  position: absolute;
  right: 5px;
  top: 5px;
}

#edit-page p {
  margin: 0;
}

// .runtime-page div.edit-page a {
//   color: $color_runtime;
// }

// .plus-page div.edit-page a {
//   color: $color_plus;
// }

// .enterprise-page div.edit-page a {
//   color: $color_enterprise;
// }

// .edit-page:hover {
//   cursor: pointer;
// }

// .edit-page__text {
//   font-size: 14px !important;
//   font-weight: 500 !important;
//   font-style: normal;
//   font-stretch: normal;
//   line-height: normal;
//   letter-spacing: 0.8px;
//   text-align: left;
//   margin: 0 20px;
//   padding: 0;
//   display: block;
//   position: relative;
//   left: 3px;
// }
