// from pm2.io site marketing
.header-section {
  z-index: 100;
  font-size: 15px;
}

.header-section .header-container {
  background-color: #171E27;
  display: flex;
  align-items: center;
  min-height: $header-height;
  padding-left: 16px;
  padding-right: 16px;

  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    padding-left: 0;
  }

  .logo-header {
    margin: 0 30px;
  }

  .header-links {
  }

  .burger-header {
    display: none;
  }

  .search-header {
    margin-left: auto;
  }

  .header-nav-links li:not(:first-child) {
    margin-left: 20px;
  }

  .header-nav-links {
    display: flex;
    list-style: none;

    a {
      color: #fff;
      text-decoration: none;
      font-weight: bold;
      font-size: 17px;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}

@media screen and (max-width: $mobile_offset) {
  .burger-header {
    display: block !important;
    color: white;
    &:hover{
      cursor:pointer;
      opacity: 0.8;
    }
    .material-icons {
      font-size: 20px;
    }
  }
  .logo-header {
    display: none;
  }
  .search-header {
    display: none;
  }

  .header-links {
    width: 100%;
    .header-nav-links li {
      text-align: center;
      flex: 1;
    }
  }
}

.runtime-page .header-nav-links .active {
  color: $color_runtime !important;
}

.plus-page .header-container .active {
  color: $color_plus  !important;
}

.enterprise-page .header-nav-links .active {
  color: $color_enterprise  !important;
}


.PM2_logo {
  background: url($baseurl + "/img/pm2-docs.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 140px;
  min-height: 23px;
}

/**
 * Algolia Search
 */
.search-wrapper input:hover,.search-wrapper input:active,.search-wrapper input:focus{
  outline:none;
}


.algolia-results {
  position: absolute;
  z-index: 5;
  top: 52px;
  background: #202a37;
  padding: 20px 20px;
  border-radius: 5px;
}
.algolia-results a,
.algolia-results a:visited{
  color:white;
  font-weight: 400;
}
.algolia-results a em {
  background-color:#3eb1f3;
}

.search-wrapper {
  position: relative;

    input {
      background-color: #ffffff;
      box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1);
      font-size: 15px;
      color: #979797;
      font-weight: 400;
      margin: 0px;
      max-width: 266px;
      border: none;
      text-align: left;
      padding-left: 35px;
      padding-right: 35px;
      border-radius: 20px;
      height: 35px;
  }
}
#hits{
         display: none;
}
#hits.hide{
         display:none!important;
}
