@import './variables';

// from pm2.io site marketing
.header-section {
  background-color: #171e27;
  z-index: 100;
}

.header-section .header-container {
//   text-align: left;
  display: flex;
  align-items: center;
  min-height: 76px;
  padding-left: 16px;
  padding-right: 16px;

  .sidebar-spacer {
    background: red;
    width: 10px;
  }

  .center-spacer {
    flex: 1;
  }

  .header-links {
    max-width: 840px;
  }

  .header-nav-links li:not(:first-child) {
    margin-left: 20px;
  }

  .header-nav-links {
    display: flex;
    list-style: none;
    
    a, a:focus, a:hover {
      color: #fff;
      text-decoration: none;
    }
  }

  
}
@media screen and (max-width: 768px) {
    .header-section .header-container {
        .sidebar-spacer {
            width: 0px;
        }
    }
}

.header-section .header-container .logo {
  width: 8.333333333333333em;
  height: 2.333333333333333rem;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (min-width: 62em) {
  .header-section .header-container .logo {
    //   float: left;
      margin-top: .5rem;
  }
}

.header-section .header-container .toggle-nav {
  display: none;
}

.header-section .header-container .btn-menu {
  color: #ffffff;
  -webkit-transition: -webkit-transform 500ms ease;
  transition: -webkit-transform 500ms ease;
  transition: transform 500ms ease;
  transition: transform 500ms ease, -webkit-transform 500ms ease;
  position: absolute;
  top: 1.111111111111111rem;
  right: 1.111111111111111rem;
  font-size: 2rem;
  line-height: 2rem;
  cursor: pointer;
}

.header-section .header-container .btn-menu:after {
  content: "\2630";
  -webkit-backface-visibility: hidden;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
}

.header-section .header-container .toggle-nav:checked+.menu-btn {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.header-section .header-container .header-nav {
  display: none;
  font-size: 1.333333333333333rem;
  margin-top: 1.111111111111111rem;
}

.header-section .header-container .header-nav div,
.header-section .header-container .header-nav a {
  display: block;
  text-align: center;
  padding: .5rem 1rem;
}

.header-section .header-container .header-nav div:hover,
.header-section .header-container .header-nav div:focus,
.header-section .header-container .header-nav div:active,
.header-section .header-container .header-nav a:hover,
.header-section .header-container .header-nav a:focus,
.header-section .header-container .header-nav a:active {
  text-decoration: none;
  background-color: #2a3747;
}

.header-section .header-container .header-nav .expander {
  cursor: pointer;
}

.header-section .header-container .header-nav .expander .more-arrow {
  display: none;
}

@media only screen and (min-width: 62em) {
  .header-section .header-container .header-nav .expander .more-arrow {
      display: block;
      position: absolute;
      right: 0;
      top: .65rem;
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
  }
}

.header-section .header-container .header-nav .menu .second-level a {
  color: #6a6a6a;
}

@media only screen and (min-width: 62em) {
  .header-section .header-container .header-nav {
      display: inline-block;
      vertical-align: bottom;
      margin-top: 0;
  }
  .header-section .header-container .header-nav ul,
  .header-section .header-container .header-nav ul li,
  .header-section .header-container .header-nav ul li div,
  .header-section .header-container .header-nav ul li a {
      display: inline-block;
      vertical-align: bottom;
      position: relative;
  }
  .header-section .header-container .header-nav .menu .second-level {
      display: none;
  }
  .header-section .header-container .header-nav .menu .second-level.active {
      display: block;
      position: absolute;
      left: 0;
      top: 2.5rem;
      -webkit-box-shadow: 0 0.55556rem 0.55556rem 0 rgba(0, 0, 0, 0.25);
      box-shadow: 0 0.55556rem 0.55556rem 0 rgba(0, 0, 0, 0.25);
      text-align: left;
  }
  .header-section .header-container .header-nav .menu .second-level.active li:not(:last-child) {
      border-bottom: 1px solid #202a37;
  }
  .header-section .header-container .header-nav .menu .second-level.active li {
      display: block;
  }
  .header-section .header-container .header-nav .menu .second-level.active li a {
      display: block;
      text-align: left;
      color: #ffffff;
      font-size: 1.222222222222222rem;
  }
  .header-section .header-container .header-nav .user-nav {
      margin-left: 2rem;
  }
  .header-section .header-container .header-nav .user-nav li:first-child {
      border-right: 1px solid #ffffff;
  }
}

.header-section .header-container .toggle-nav:checked~.header-nav {
  display: block;
}


// custom
.logo {
    font-size: 1.2em;
}

// .header-section .header-container,
// .header-container {
//     margin: 0px;
//     padding: 0px;
// }

.app-nav,
.app-nav.no-badge,
.header-section {
    margin: 0px;
    position: fixed!important;
    width: 100%;
    min-height: 76px;
}


.PM2_logo_wrapper {
    @media screen and (min-width: 480px) {
        // display: inline-block;
        max-width: 200px;
        // float: left;
    }
    @media screen and (min-width: 768px) {
    }
}

.PM2 {
    width: 140px;
    height: 23px;
    text-align: center;
    display: block;
    margin: 0 auto;
    position: relative;
    top: 41px;
    /* background: yellowgreen;*/
}

.PM2_logo {
  background: url($baseurl + "/img/pm2-docs.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.PM2_logo {
    width: 140px;
    min-height: 23px;
    margin: 20px auto;
    display: block;
    position: relative;
    left: 8px;
}


.user-nav a {
    font-size: 24px;
    font-weight: 100;
}

.search {
    display: none;
}

.algolia-autocomplete {
    input {
        max-width: 266px;
        border: none;
    }
}

.algolia-results {
    position: absolute;
    z-index: 5;
    top: 52px;
    background: #202a37;
    padding: 20px 20px;
    border-radius: 5px;
}
.algolia-results a, .algolia-results a:visited{
    color:white;
    font-weight: 400;
}
.algolia-results a em {
    background-color:#3eb1f3;
}

.PM2_search {
    // max-width: 280px;
    // margin: 20px auto;


    @media screen and (min-width: 480px) {
        // display: inline-block;
        // float: right;
        // margin-right: 40px;
        position: relative;
    }
}

.search-wrapper input {
    text-align: center;
    padding: 0 40px 0 39px;
    padding-left: 55px!important;

  height: 47px;
  border-radius: 30px;
  background-color: #ffffff;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1);

}
.search-wrapper input:hover,.search-wrapper input:active,.search-wrapper input:focus{
    outline:none;
}

.search-wrapper {
    position: relative;
}

.search-wrapper input {
    font-size: 18px!important;
    color: #979797;
    font-weight: 400;

    margin: 0px!important;
    max-width: 100%;
    border-radius: 20px;
    margin: 20px;
    padding-left: 45px!important;
    padding-right: 40px!important;
}