
.homepage {

  .content {
    width : 500px;
    margin: 0 auto;
    margin-top: 180px;
    padding-left: 0px !important;
    a {
      text-decoration: none;

      :hover {
        transition: opacity .15s ease-in-out;
        opacity: 0.6;
      }
    }
    .product-line {
      text-align:center;
      margin-bottom: 50px;
      padding : 15px;
      h2 {
        margin:0;
        color: white;
        margin-top: 15px;
        font-size: 24px;
      }
      .logo-img {
        width : 500px;
        display: block;
      }
    }
  }
}
