
.homepage {
  .content-home {
    flex: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url($baseurl + "/img/backgrounds/bg-squares.png");
    background-position: bottom left;
    background-attachment: fixed;
    background-color: #131d26;
    background-size: cover;

    a {
      text-decoration: none;

      :hover {
        transition: opacity 0.15s ease-in-out;
        opacity: 0.6;
      }
    }

    .product-line {
      text-align: center;
      margin-bottom: 50px;
      padding: 15px;

      h2 {
        margin: 0;
        color: white;
        margin-top: 15px;
        font-size: 24px;
      }

      .logo-img {
        width: 500px;
        display: block;
      }
    }
  }
}

@media screen and (max-width: $mobile_offset) {
  .product-line {
    margin-bottom: 30px !important;
  }

  h2 {
    font-size: 22px !important;
  }

  .logo-img {
    margin: 0 auto;
    width: 250px !important;
  }
}
