body,
html {
  font-family: 'Lato', sans-serif;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none;
  box-sizing: border-box;
}

// Scrollbar customization
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: darken(#252b37, 4%);
}

::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: rgb(51, 51, 51);
}

::-webkit-scrollbar-thumb {
  border: 1.5px solid darken(#252b37, 4%);
  border-radius: 10px;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 18px;
  letter-spacing: 0;
  margin: 0;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  background-color: #171e27;
  background-size: cover;

  background-image: url($baseurl + "/img/backgrounds/bg-squares.png");
  background-position: bottom left;
  background-attachment: fixed;
  background-color: #131d26;
}

div.content-container {
  background-size: cover;
}

.runtime-page {
  ::-webkit-scrollbar-thumb {
    background-color: $color_runtime;
  }
}

.plus-page {
  ::-webkit-scrollbar-thumb {
    background-color: $color_plus;
  }
}

.enterprise-page {
  ::-webkit-scrollbar-thumb {
    background-color: $color_enterprise;
  }
}

.cta-plus {
  position: fixed;
  bottom: 0px;
  left: 0px;
  z-index: 1000;
  text-align: center;
  height: 30px;
  width: 100%;
  color: white;
  line-height: 29px;
  background-color: $color_plus;
  border-top: 1px solid #1d212b;
  a {
    width: 100%;
    display: inline-block;
    text-decoration: none;
    color: white;
    &:hover {
      text-decoration: underline;
    }
  }
}

.li-github {
  margin-left: 75px;
}

h1,
h2,
h3,
h4 {
  font-family: Saira, sans-serif;
  color: #202a37;
}

.content {
  display: flex;
  flex: 1;

  .content-container {
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 40px;
    padding-left: 30px;
    flex: 1;

    .content-main {
      max-width: 70%;
      margin: 0 auto;

      @media screen and (max-width: 1300px) {
        max-width: 860px;
      }
    }

    .algolia-mobile-search {
      width: 100%;
      display: none;

      @media screen and (max-width: $mobile_offset) {
        display: block;
      }

      .algolia-autocomplete {
        width: 100%;
      }

      input {
        box-sizing: border-box;
        border-radius: 5px !important;
        width: 100%;
        height: 40px;
        box-shadow: none;
        max-width: 100%;
        margin-bottom: 25px;
      }
    }
  }

  #edit-page {
    position: absolute;
    right: 5px;
    top: 5px;
  }

  #edit-page p {
    margin: 0;
  }
}

.header-link {
  position: relative;
  left: 0.5em;
  opacity: 0;
  font-size: 0.8em;
}

.app-sub-sidebar li::before {
  content: "-";
  padding-right: 4px;
  float: left;
}

img {
  max-width: 100%;
}

a[disabled] {
  cursor: not-allowed;
  opacity: 0.6;
}

.task-list-item {
  list-style-type: none;
}

li input[type=checkbox] {
  margin: 0 0.2em 0.25em -1.6em;
  vertical-align: middle;
}

.breadcrumbs {
	margin-bottom: 30px !important;
  border-radius: 2px;

  @media screen and (max-width: $mobile_offset) {
    padding: 4px 10px;
    text-align: center;
  }

  p {
    font-family: Saira, sans-serif;
    font-size: 36px;
    color: white;
    margin-top: 18px;
    margin-bottom: 18px;
  }
}

.show-menu {
  display: none;

  @media screen and (max-width: $mobile_offset) {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: $mobile_offset) {
  .li-github {
    display: none !important;
  }

  .content-container {
    padding: 0px !important;
    margin:0px !important;
  }

  .search-wrapper {
    display: none !important;
  }

  .sidebar {
    height: 90% !important;
  }

  #edit-page {
    display: none;
  }
}
