body.close .content {
    left: 0;
    @media screen and (max-width: 768px) {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}

body .content {
    left: 230px;
    margin-top: 105px;
    padding-right: 110px;
    max-width: 1200px;
    padding-top:0px;
}
body.close .content {
    padding-right: 0px;
}

body {
    background-color: #d3e0f0;
}

