.markdown-section{
  margin:0 auto;
  padding:30px 15px 40px;
  position:relative;

  padding:30px;
  border-radius: 2px;
  background-color: #ffffff;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1);

  h1, h2, h3, h4 {
    font-weight: 500;

    margin-top: -80px !important;
    padding-top: 80px !important;
  }

  h1 {
    margin: 0;
  }

  a {
    color: #3f83b7;
  }

  h2 {
    margin-top: 32px;
    border-bottom: 1px solid #bbb;
    line-height: 40px;
    a {
      text-decoration: none;
    }
  }

  h3 {
    margin-top: 32px;
    border-bottom: 1px solid #bbb;
    line-height: 40px;
    a {
      color: #333;
      text-decoration: none;
    }
  }

  .anchor-title:before {
    content:"";
    display:inline-block;
    position:absolute;
    top: 200px;
  }

  p {
    line-height: 28px;
  }

  // Customization of orphan link
  // Transform to button via JS
  .centerize {
    text-align: center;
    a.btn-stylized {
      min-width: 230px;
      text-decoration: none;
      color: white;
      text-align: center;

      .material-icons {
        transition: all 0.4s;
        position: absolute;
        top: 10px;
        right: 15px;
      }

      &:hover {
        .material-icons {
          right: 4px;
        }
      }
    }
  }

  blockquote{
    border-left:4px solid var(--theme-color,#42b983);
    color:#858585;
    margin:2em 0;
    padding-left:20px
  }

  blockquote p{
    font-weight:600;
    margin-left:0
  }

  ol, ul {
    line-height:1.6rem;
    word-spacing:.05rem;
    padding-left:1.5rem
  }

  code, pre {
    background-color: #171e27 !important;
    // box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.25);
  }

  .tip code {
    background-color: #222;
  }

  pre {
    position:relative;
    padding: 13px;
    color:white;
    font-size:16px;
    border-radius: 2px;
    white-space: pre-wrap;
    line-height: 27px;
  }

  code {
    font-size: 16px;
    padding: 2px 6px;
    color: white;
  }

  em{
    color:#7f8c8d
  }

  .warn{
    border-radius: 2px;
    background-color: rgba(206, 183, 1, 0.08)!important;
    border: solid 1px #ceb701;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.5px;
    font-family: 'Saira';
    text-align: left;
    color: #ceab01;
    background:rgba(66,185,131,.1);
    border-radius:2px;
    padding:1rem
  }

  iframe{
    border:1px solid #eee;
    margin:1em 0;
  }

  #gittalk {
    margin-top: 40px;
    border-top : 1px solid #aaa;
  }

  table{
    border-collapse:collapse;
    border-spacing:0;
    display:block;
    margin-bottom:1rem;
    overflow:auto;
    width:100%;
    td,th{
      border:1px solid #ddd;
      padding:6px 13px
    }
    th{
      font-weight:700
    }
    tr {
      border-top:1px solid #ccc
    }
  }
}

.markdown-section p.tip,.markdown-section tr:nth-child(2n){
  background-color:#f8f8f8
}
.markdown-section p.tip{
  border-bottom-right-radius:2px;
  border-left:4px solid #f66;
  border-top-right-radius:2px;
  margin:2em 0;
  padding:12px 24px 12px 30px;
  position:relative;
  &:before{
    background-color:#f66;
    border-radius:100%;
    color:#fff;
    content:"!";
    font-size:14px;
    font-weight:700;
    left:-12px;
    line-height:20px;
    position:absolute;
    height:20px;
    width:20px;
    text-align:center;
    top:14px
  }
  code{
    background-color:#666
  }
  em{
    color:#34495e
  }
}


.close .markdown-section {
  float: unset;
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    border-radius:0px;
  }
  @media screen and (min-width: 992px) {
  }
  @media screen and (min-width: 1200px) {
    border-radius: 0px;

  }
  @media screen and (min-width: 1400px) {
    border-radius: 0px;

  }
  @media screen and (min-width: 1600px) {
    border-radius: 0px;
  }
}

.runtime-page {

  hr:before {
    background-color: $color_runtime;
  }

  main a {
    color: $color_runtime;
  }

  h2 a:before{
    background-image: url($baseurl + "/img/runtime/rect-r.png");
  }
  h2 {
    color: $color_runtime;
    a{
      color: $color_runtime;
    }
  }
}

.plus-page {
  main a {
    color: $color_plus;
  }

  hr:before {
    background-color: $color_plus;
  }

  h2 a:before{
    background-image: url($baseurl + "/img/plus/rect-m.png");
  }

  h2 {
    color: $color_plus;
    a {
      color: $color_plus;
    }
  }
}
.enterprise-page {
  main a {
    color: $color_enterprise;
  }
  hr:before {
    background-color: $color_enterprise;
  }
  h2 a:before{
    background-image: url($baseurl + "/img/enterprise/rect-e.png");
  }
  h2 {
    color: $color_enterprise;
    a {
      color: $color_enterprise;
    }
  }
}


hr{
  background: #D2DFEE;
  height: 45px;
  margin-left: -40px;
  margin-right: -40px;
  position: relative;
  border: 0px;
}

//Simulate page jump
hr:before {
    content: '';
    height: 5px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1);
    display: block;
    margin-left: 10px;
    margin-right: 10px;
}


hr {
  display: none;
}

/*Copy plugin*/
button.docsify-copy-code-button{

    height: 36px;
    background-color: #3eb1f3;
    border-radius: 5px;
    z-index: 99999;
    margin-right: 5px;
    margin-top: 5px;
    text-align: center;
    padding: 5px;
}
.docsify-copy-code-button::after{
    display: none;
}
