@import './variables';

p {
    font-weight: 400;
}

p.warn{
    border-radius: 2px;
    background-color: rgba(206, 183, 1, 0.08)!important;
    border: solid 1px #ceb701;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 2.5px;
    text-align: left;
    color: #ceab01;
}
.markdown-section h1,.markdown-section h2,.markdown-section h3,.markdown-section h4,.markdown-section strong{
  color: #202a37;
  font-weight: 600;
}
.markdown-section a{
  font-weight: 600;
}
.process-manager-page a {
  color: $color_process-manager;
}

.plus-page a {
  color: $color_plus;
}

.enterprise-page a {
  color: $color_enterprise;
}
.markdown-section h1{
  font-size:2rem;
  margin:0 0 1rem;
  font-weight: 500;
  color: #202a37;
}
.markdown-section h2{
  font-size:1.75rem;
  margin:40px 0 .8rem;
  font-weight: 500;
}
.markdown-section h3{
  font-size:1.5rem;
  margin:32px 0 .6rem;
  font-weight: 500;
}
.markdown-section h4{
  font-size:1.25rem
}
.markdown-section h5{
  font-size:1rem
}
.markdown-section h6{
  font-size:1rem
}

.process-manager-page h2 a:before{
  background-image: url(/doc-pm2/img/process-manager/rect-r.png);
}
.plus-page h2 a:before{
  background-image: url(/doc-pm2/img/plus/rect-m.png);
}
.enterprise-page h2 a:before{
  background-image: url(/doc-pm2/img/enterprise/rect-e.png);
}
.process-manager-page h2 {
  color: $color_process-manager;
}

.plus-page h2 {
  color: $color_plus;
}

.enterprise-page h2 {
  color: $color_enterprise;
}

// h2 a:before{
//     content: '';
//     background-repeat: no-repeat;
//     height: 10px;
//     width: 15px;
//     background-size: contain;
//     z-index: 3;
//     position: absolute;
//     left: 0;
//     margin-top: 13px;
// }

// Anchors

.header-link {
  position: relative;
  left: 0.5em;
  opacity: 0;
  font-size: 0.8em;

  -webkit-transition: opacity 0.2s ease-in-out 0.1s;
  -moz-transition: opacity 0.2s ease-in-out 0.1s;
  -ms-transition: opacity 0.2s ease-in-out 0.1s;
}
h2:hover .header-link,
h3:hover .header-link,
h4:hover .header-link,
h5:hover .header-link,
h6:hover .header-link {
  opacity: 1;
}


/* Highlight word: pm2 (surrounded by box) */

p code,
.markdown-section p code {
    width: 43px;
    height: 22px;
    border-radius: 2px;
    background-color: #d3e0f0;
}

.markdown-section pre{
    padding:0px!important;
}


/* Simulate page jump */

hr:before {
    content: '';
    height: 5px;
    background-color: #01cea2;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1);
    display: block;
    margin-left: 10px;
    margin-right: 10px;
}

.process-manager-page hr:before {
    background-color: $color_process-manager;
}

.plus-page hr:before {
    background-color: $color_plus;
}

.enterprise-page hr:before {
    background-color: $color_enterprise;
}

hr,
.markdown-section hr {
    background: #D2DFEE;
    height: 45px;
    margin-left: -40px;
    margin-right: -40px;
    position: relative;
    border: 0px;
}

/* Code blocks*/
.markdown-section pre code{
    border-radius: 2px;
    background-color: #171e27;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.25);
}



/*Copy plugin*/
button.docsify-copy-code-button{

    height: 36px;
    background-color: #3eb1f3;
    border-radius: 5px;
    z-index: 99999;
    margin-right: 5px;
    margin-top: 5px;
    text-align: center;
    padding: 5px;
}
.docsify-copy-code-button::after{
    display: none;
}