
@media screen and (max-width:$mobile_offset){
  .github-corner,.sidebar,.sidebar-toggle{
    position:fixed;
    height:200%;
  }
  .app-nav{
    margin-top:16px
  }
  .app-nav li ul{
    top:30px
  }
  main{
    height:auto;
    overflow-x:hidden
  }
  .content{
    transition:transform .25s ease
  }
  .app-nav,.github-corner{
    transition:transform .25s ease-out
  }
  .github-corner:hover .octo-arm{
    animation:none
  }
  .github-corner .octo-arm{
    animation:a .56s ease-in-out
  }
}
