@import './variables';

//process-manager-page
//plus-page
//enterprise-page


.gettings_started_block{
	margin-bottom: 30px!important;
  border-radius: 2px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1);
  @media screen and (min-width: 1200px) {
    height: 113px;   
  }
}

.gettings_started_block p {
  width: 100%!important;
  width: 771px;
  height: 53px;
  font-weight: 100;
  
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2.3px;
  text-align: left;
  color: #ffffff;
  font-size:32px;
  margin: 0px;
  height: 100%;
   @media screen and (min-width: 992px) {
      font-size: 36px;
    }
}

.process-manager-page .gettings_started_block{
	background-color: $color_process-manager;
}
.plus-page .gettings_started_block{
	background-color: $color_plus;
}
.enterprise-page .gettings_started_block{
	background-color: $color_enterprise;
}




.process-manager_block,.plus_block,.enterprise_block{
	display:none;
}
.process-manager-page .process-manager_block, .plus-page .plus_block, .enterprise-page .enterprise_block{
	display:inline-block;
}

/*
.process-manager-page .gettings_started_block_span.process-manager_block, .plus-page .gettings_started_block_span.plus_block, .enterprise-page .gettings_started_block_span.enterprise_block{
	display:inline;
}
*/