//docsify

.sidebar{
  border-right:1px solid rgba(0,0,0,.07);
  overflow-y:auto;
  padding:40px 0 0;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  transition:transform .25s ease-out;
  width:300px;
  z-index:3
}
.sidebar>h1{
  margin:0 auto 1rem;
  font-size:1.5rem;
  font-weight:300;
  text-align:center
}
.sidebar>h1 a{
  color:inherit;
  text-decoration:none
}
.sidebar>h1 .app-nav{
  display:block;
  position:static
}
.sidebar .sidebar-nav{
  line-height:2em;
  padding-bottom:40px
}
.sidebar li.collapse .app-sub-sidebar{
  display:none
}
.sidebar ul{
  margin:0;
  padding:0
}
.sidebar li>p{
  font-weight:700;
  margin:0
}
.sidebar ul,.sidebar ul li{
  list-style:none
}
.sidebar ul li a{
  border-bottom:none;
  display:block
}
.sidebar ul li ul{
  padding-left:20px
}
.sidebar::-webkit-scrollbar{
  width:4px
}
.sidebar::-webkit-scrollbar-thumb{
  background:transparent;
  border-radius:4px
}
.sidebar:hover::-webkit-scrollbar-thumb{
  background:hsla(0,0%,53%,.4)
}
.sidebar:hover::-webkit-scrollbar-track{
  background:hsla(0,0%,53%,.1)
}
.sidebar-toggle{
  background-color:transparent;
  background-color:hsla(0,0%,100%,.8);
  border:0;
  outline:none;
  padding:10px;
  position:absolute;
  bottom:0;
  left:0;
  text-align:center;
  transition:opacity .3s;
  width:284px;
  z-index:4
}
.sidebar-toggle .sidebar-toggle-button:hover{
  opacity:.4
}
.sidebar-toggle span{
  background-color:var(--theme-color,#42b983);
  display:block;
  margin-bottom:4px;
  width:16px;
  height:2px
}

// custom


body.close .sidebar {
    -webkit-transform: translateX(-375px);
    transform: translateX(-375px);
}

.sidebar-nav > ul{
    padding: 16px 24px 16px 20px !important
}
.sidebar ul li ul {
    padding-left: 12px!important;
}
.sidebar-nav ul li{
        margin: 16px 0 0 0;
}

.sidebar-nav a.active{
    color:#3eb1f3!important;
}

.sidebar {
    background: #202a37;
    z-index: 4;
    padding-top: 60px !important;
    width: 345px;
    padding-left: 145px;



    @media screen and (max-width: 768px) {
        left: 0px;
    }
}

body.close .sidebar-toggle {
    @media screen and (max-width: 768px) {
        background-color: transparent;
    }
}

.sidebar-toggle {
    background-color: transparent;
    left: -50px;
    @media screen and (min-width: 1200px) {
        
    }
}

.sidebar-toggle-button span {
    background-color: white;
}


.sidebar-toggle {
    z-index: 5;
}



.sidebar li {
    margin: 6px 0 6px 20px;
}

.sidebar ul li a {
    color: #fff;
    
    font-weight: 500;
    text-align: left;
    
    letter-spacing: 1px;

    line-height: 1.6;
    font-size: 15px;
}

.sidebar ul li ul li a {
    font-size: 11px;
}

.sidebar ul li.active>a {
    color: #3eb1f3;
}

.sidebar ul li.active>a {
    border-right:0px;
    border-left: 2px solid;
    padding-left: 10px;
    position: relative;
    left: -10px;
}
