<div class="section header-section">
    <div class=" header-container">
        <div class="PM2_logo_wrapper">
            <a class="logo-container link">
                <div class="PM2_logo"></div>
            </a>
        </div>
        <div class="PM2_search search-wrapper">
            <span class="algolia-autocomplete" style="position: relative; display: inline-block; direction: ltr;"><input class="search_input ds-input" placeholder="Search documentation..." autocomplete="off" spellcheck="false" role="combobox" aria-autocomplete="list" aria-expanded="false" aria-owns="algolia-autocomplete-listbox-0" dir="auto" style="position: relative; vertical-align: top;"><pre aria-hidden="true" style="position: absolute; visibility: hidden; white-space: pre; font-family: Saira, sans-serif; font-size: 18px; font-style: normal; font-variant: normal; font-weight: 400; word-spacing: 0px; letter-spacing: normal; text-indent: 0px; text-rendering: auto; text-transform: none;"></pre><span class="ds-dropdown-menu" role="listbox" id="algolia-autocomplete-listbox-0" style="position: absolute; top: 100%; z-index: 100; display: none; left: 0px; right: auto;"><div class="ds-dataset-1"></div></span></span>
            <div class="PM2_search_icon"><i class="fas fa-search"></i></div>
            <div id="hits" class="algolia-results">
                <!-- Hits widget will appear here -->
            </div>
        </div>
    </div>
</div>