/*DOCS ADDITION*/



@font-face {
    font-family: 'Blender';
    src: url("../fonts/blender/Blender-Thin.woff");
    font-weight: 100;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: 'Blender';
    src: url("../fonts/blender/Blender-Book.woff");
    font-weight: 400;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: 'Blender';
    src: url("../fonts/blender/Blender-Medium.woff");
    font-weight: 500;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: 'Blender';
    src: url("../fonts/blender/Blender-Heavy.woff");
    font-weight: 700;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/**
 * Mediaqueries following the mobile-first method
 * CSS are set from mobile first, default font-size is 16px.
 */


/* ====== SETTINGS ====== */


/* ====== QUERIES ====== */


/* --- small screens, from 480px --- */


/* --- medium screens, from 768px --- */


/* --- large screens, from 992px --- */


/* --- xlarge screens, from 1440px --- */


/* --- xlarge screens, from 1440px --- */

.wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.item {
    -webkit-box-flex: 1 200px;
    -ms-flex: 1 200px;
    flex: 1 200px;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 2;
    order: 2;
}


/**
 * Colors used across the website
 * ------------------------------
 * [1]
 * First give them a name using appropriate tool :
 * http://www.color-blindness.com/color-name-hue/
 * If two colors get the same name, use the built-in Sass functions :
 * darken($color-name, xx%)
 * lighten($color-name, xx%)
 *
 * [2]
 * Then, assign colors to their exact role, to allow easy updates
 */


/* ====== [1] NAMES ====== */


/* ====== [2] ASSIGNMENTS ====== */


/* --- global --- */


/* --- theme related --- */


/* --- Header nav related --- */


/* --- Buttons --- */


/* --- Footer --- */


/* Monitoring */


/**
* Utility Namespaces
* ------------------
* Single responsability rules having very specific and targeted tasks
* Text alignment or positioning, font-sizing, clearfix, etc.
*
* One step away from inline-styling, use sparingly!
* Can carry "!important" declaration to override less specific rules
* Shouldn't be modified after having been written, could be used anywhere
*/


/* ====== SHOW/HIDE ====== */


/* --- hidden everywhere --- */

.is-hidden {
    display: none !important;
}

@media only screen and (min-width: 62em) {
    .is-hidden-large {
        display: none;
    }
}

@media only screen and (min-width: 90em) {
    .is-hidden-xlarge {
        display: none;
    }
}

@media only screen and (min-width: 48em) {
    .is-hidden-medium {
        display: none;
    }
}

@media only screen and (min-width: 30em) {
    .is-hidden-small {
        display: none;
    }
}

.is-visible-small {
    display: none;
}

@media only screen and (min-width: 30em) {
    .is-visible-small {
        display: block;
    }
}

.is-visible-medium {
    display: none;
}

@media only screen and (min-width: 48em) {
    .is-visible-medium {
        display: block;
    }
}

.is-visible-large {
    display: none;
}

@media only screen and (min-width: 62em) {
    .is-visible-large {
        display: block;
    }
}

.is-visible-xlarge {
    display: none;
}

@media only screen and (min-width: 90em) {
    .is-visible-xlarge {
        display: block;
    }
}

.is-visible-xxlarge {
    display: none;
}

@media only screen and (min-width: 116em) {
    .is-visible-xxlarge {
        display: block;
    }
}


/* --- remove side paddings --- */

.is-paddingless {
    padding-left: 0 !important;
    padding-right: 0 !important;
}


/* --- restrain element to its parent's width  --- */

.is-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}


/* --- displays an element as block and centers it --- */

.is-centered-block {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.is-inline-block {
    display: inline-block;
    vertical-align: bottom;
}


/* ====== TEXT TRANSFORMATIONS ====== */


/* --- Text align --- */

.is-text-centered {
    text-align: center;
}

.is-text-left {
    text-align: left;
}

.is-text-right {
    text-align: right;
}


/* --- sets uppercase --- */

.is-uppercase {
    text-transform: uppercase;
}

.has-shadow {
    -webkit-box-shadow: 0 0.55556rem 0.55556rem 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 0.55556rem 0.55556rem 0 rgba(0, 0, 0, 0.25);
}


/**
* Modern minimal "reset" using box-sizing
* https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
*
* And for deeper (but safe) normalizing/resetting CSS, I'm using Normalize.css
* The call is made directly from HTML to allow easy update of the vendor
* https://stackoverflow.com/questions/6887336/what-is-the-difference-between-normalize-css-and-reset-css
*/

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/* ====== GLOBAL STYLES USED ACROSS THE WEBSITE ====== */

html {
    font-size: 18px;
    font-family: 'Blender';
    color: #ffffff;
}

body {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
dd,
dt,
span,
a {
    font-size: 1em;
    margin: 0;
    font-weight: 100;
    letter-spacing: 0.025em;
}

h1 {
    font-size: 1.888888888888889rem;
    font-weight: 400;
    padding: 1em 0 0;
    letter-spacing: .0777777777777778rem;
}

@media only screen and (min-width: 90em) {
    h1 {
        font-size: 3.777777777777778rem;
        padding: 0;
        letter-spacing: .1555555555555556rem;
    }
}

h2 {
    font-size: 1.555555555555556rem;
    font-weight: 500;
    padding: 0 0 1.111111111111111rem;
    letter-spacing: .0666666666666667em;
}

@media only screen and (min-width: 90em) {
    h2 {
        font-size: 2.666666666666667rem;
    }
}

h3 {
    font-size: 1.111111111111111rem;
    font-weight: 500;
    letter-spacing: .0444444444444444rem;
    padding: 0 0 .5555555555555556rem;
}

@media only screen and (min-width: 90em) {
    h3 {
        font-size: 2rem;
        letter-spacing: .0777777777777778rem;
        padding: 0 0 1.111111111111111rem;
    }
}

h4 {
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: .0444444444444444rem;
    padding: .2777777777777778rem 0;
}

@media only screen and (min-width: 90em) {
    h4 {
        font-size: 1.111111111111111rem;
    }
}

h5 {
    font-size: 1.333333333333333rem;
    font-weight: 500;
    letter-spacing: .0444444444444444rem;
}

h6 {
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: .0444444444444444rem;
    padding: .2777777777777778rem 0;
}

@media only screen and (min-width: 90em) {
    h6 {
        font-size: 2rem;
        padding: 0;
        letter-spacing: .0777777777777778rem;
    }
}

a:link {
    text-decoration: none;
    color: #ffffff;
}

a:visited {
    color: #ffffff;
}

a:hover,
a:active {
    text-decoration: underline;
}

p {
    margin-bottom: 1.111111111111111em;
}

p.big-space {
    margin-bottom: 2.222222222222222em;
}

@media only screen and (min-width: 90em) {
    p {
        font-size: 1.555555555555556em;
        margin-bottom: 0.7142857142857143em;
    }
}

ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

dl {
    margin-top: 0;
    margin-bottom: 0;
}

dl dd {
    margin-left: 0;
}

img,
video {
    max-width: 100%;
}

.btn {
    display: inline-block;
    vertical-align: bottom;
    font-weight: 400;
    font-size: 0.7777777777777778rem;
    padding: .75em 1.5em;
    line-height: 1em;
    border-radius: 2em;
    background-clip: padding-box;
    text-decoration: none;
}

@media only screen and (min-width: 90em) {
    .btn {
        font-size: 1.111111111111111rem;
        padding: .75em 1.2em;
    }
}

.btn.btn-cta {
    -webkit-box-shadow: 0 0.55556rem 0.55556rem 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 0.55556rem 0.55556rem 0 rgba(0, 0, 0, 0.25);
}

.btn.btn-slider {
    margin: 1.111111111111111rem .5555555555555556rem;
}

@media only screen and (min-width: 90em) {
    .btn.btn-slider {
        margin: 1.111111111111111rem;
    }
}

.btn.btn-black {
    background-color: #171e27;
    color: #ffffff;
}

.btn.btn-black:hover,
.btn.btn-black:focus,
.btn.btn-black:active {
    background-color: #2a3747;
    text-decoration: none;
}

.btn.btn-green {
    background-color: #01cea2;
    color: #ffffff;
}

.btn.btn-green:hover,
.btn.btn-green:focus,
.btn.btn-green:active {
    background-color: #019b7a;
    text-decoration: none;
}

.btn.btn-blue {
    background-color: #3eb1f3;
    color: #ffffff;
}

.btn.btn-blue:hover,
.btn.btn-blue:focus,
.btn.btn-blue:active {
    background-color: #0f9def;
    text-decoration: none;
}

.btn.btn-purple {
    background-color: #7f86f5;
    color: #ffffff;
}

.btn.btn-purple:hover,
.btn.btn-purple:focus,
.btn.btn-purple:active {
    background-color: #5059f1;
    text-decoration: none;
}

.carousel-cell.is-selected .btn.btn-slider {
    -webkit-box-shadow: 0 0.55556rem 0.55556rem 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 0.55556rem 0.55556rem 0 rgba(0, 0, 0, 0.25);
    background-color: #171e27;
    color: #ffffff;
}

.carousel-cell .btn.btn-slider:hover {
    background-color: #2a3747;
    text-decoration: none;
}

.enterprise-page .header-section .header-container .logo {
    background-image: url("../img/logos-pm2/pm2_enterprise.svg");
}

.runtime-page .header-section .header-container .logo {
    background-image: url("../img/logos-pm2/pm2_runtime.svg");
}

.monitoring-page .header-section .header-container .logo {
    background-image: url("../img/logos-pm2/pm2_monitoring.svg");
}

.header-section {
    background-color: #171e27;
    z-index: 100;
}

.header-section .header-container {
    text-align: left;
    padding: 1.111111111111111rem;
}

@media only screen and (min-width: 62em) {
    .header-section .header-container {
        text-align: right;
    }
}

@media only screen and (min-width: 90em) {
    .header-section .header-container {
        padding: 1.111111111111111rem 0;
    }
}

.header-section .header-container .logo {
    width: 8.333333333333333em;
    height: 2.333333333333333rem;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (min-width: 62em) {
    .header-section .header-container .logo {
        float: left;
        margin-top: .5rem;
    }
}

.header-section .header-container .toggle-nav {
    display: none;
}

.header-section .header-container .btn-menu {
    color: #ffffff;
    -webkit-transition: -webkit-transform 500ms ease;
    transition: -webkit-transform 500ms ease;
    transition: transform 500ms ease;
    transition: transform 500ms ease, -webkit-transform 500ms ease;
    position: absolute;
    top: 1.111111111111111rem;
    right: 1.111111111111111rem;
    font-size: 2rem;
    line-height: 2rem;
    cursor: pointer;
}

.header-section .header-container .btn-menu:after {
    content: "\2630";
    -webkit-backface-visibility: hidden;
    -webkit-transition: 500ms ease;
    transition: 500ms ease;
}

.header-section .header-container .toggle-nav:checked+.menu-btn {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.header-section .header-container .header-nav {
    display: none;
    font-size: 1.333333333333333rem;
    margin-top: 1.111111111111111rem;
}

.header-section .header-container .header-nav div,
.header-section .header-container .header-nav a {
    display: block;
    text-align: center;
    padding: .5rem 1rem;
}

.header-section .header-container .header-nav div:hover,
.header-section .header-container .header-nav div:focus,
.header-section .header-container .header-nav div:active,
.header-section .header-container .header-nav a:hover,
.header-section .header-container .header-nav a:focus,
.header-section .header-container .header-nav a:active {
    text-decoration: none;
    background-color: #2a3747;
}

.header-section .header-container .header-nav .expander {
    cursor: pointer;
}

.header-section .header-container .header-nav .expander .more-arrow {
    display: none;
}

@media only screen and (min-width: 62em) {
    .header-section .header-container .header-nav .expander .more-arrow {
        display: block;
        position: absolute;
        right: 0;
        top: .65rem;
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}

.header-section .header-container .header-nav .menu .second-level a {
    color: #6a6a6a;
}

@media only screen and (min-width: 62em) {
    .header-section .header-container .header-nav {
        display: inline-block;
        vertical-align: bottom;
        margin-top: 0;
    }
    .header-section .header-container .header-nav ul,
    .header-section .header-container .header-nav ul li,
    .header-section .header-container .header-nav ul li div,
    .header-section .header-container .header-nav ul li a {
        display: inline-block;
        vertical-align: bottom;
        position: relative;
    }
    .header-section .header-container .header-nav .menu .second-level {
        display: none;
    }
    .header-section .header-container .header-nav .menu .second-level.active {
        display: block;
        position: absolute;
        left: 0;
        top: 2.5rem;
        -webkit-box-shadow: 0 0.55556rem 0.55556rem 0 rgba(0, 0, 0, 0.25);
        box-shadow: 0 0.55556rem 0.55556rem 0 rgba(0, 0, 0, 0.25);
        text-align: left;
    }
    .header-section .header-container .header-nav .menu .second-level.active li:not(:last-child) {
        border-bottom: 1px solid #202a37;
    }
    .header-section .header-container .header-nav .menu .second-level.active li {
        display: block;
    }
    .header-section .header-container .header-nav .menu .second-level.active li a {
        display: block;
        text-align: left;
        color: #ffffff;
        font-size: 1.222222222222222rem;
    }
    .header-section .header-container .header-nav .user-nav {
        margin-left: 2rem;
    }
    .header-section .header-container .header-nav .user-nav li:first-child {
        border-right: 1px solid #ffffff;
    }
}

.header-section .header-container .toggle-nav:checked~.header-nav {
    display: block;
}

main.main {
    background-color: #171e27;
    position: relative;
    z-index: 70;
}


/* Each section has a container, these containers have a max-width of 1440px on desktop */

.container {
    padding: 2.222222222222222rem 1.111111111111111rem;
    text-align: center;
    position: relative;
}

@media only screen and (min-width: 90em) {
    .container {
        padding: 7.222222222222222rem 0;
        width: 80em;
        margin: 0 auto;
    }
}


/* ------------------------- End of containers ----------------------------------------- */


/* Sections are responsive and full width because of their custom backgrounds */

.section {
    position: relative;
}

.blue-bg-section {
    background-color: #3eb1f3;
}

.purple-bg-section {
    background-color: #7f86f5;
}

.green-bg-section {
    background-color: #01cea2;
}

.blue-stripes-bg-section,
.green-stripes-bg-section,
.purple-stripes-bg-section {
    background-image: url("../img/bg-blue.svg");
    background-repeat: repeat;
    background-position: bottom right;
    background-size: cover;
}

.green-stripes-bg-section {
    background-image: url("../img/bg-green.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.purple-stripes-bg-section {
    background-image: url("../img/bg-purple.svg");
    background-repeat: no-repeat;
    background-position: 0 12rem;
}

.purple-bubble-bg-section {
    background-image: url("../img/bg-purple-bubble.svg");
    background-repeat: repeat;
    background-position: bottom center;
    background-size: cover;
}

.green-squares-bg-section {
    background-image: url("../img/bg-green_squares.svg");
    background-repeat: repeat;
    background-position: bottom center;
    background-size: cover;
}

.blue-bottom-stripes-section,
.green-bottom-stripes-section,
.purple-bottom-stripes-section {
    background-image: url("../img/lines-blue.svg");
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 80%;
    overflow: hidden;
}

.green-bottom-stripes-section {
    background-image: url("../img/lines-green.svg");
    background-position: 0rem 48rem;
}

@media only screen and (min-width: 90em) {
    .green-bottom-stripes-section {
        background-position: 0rem 59rem;
    }
}

.purple-bottom-stripes-section {
    background-image: url("../img/lines-purple.svg");
}

.black-bottom-shape-section,
.purple-bottom-shape-section,
.green-bottom-shape-section,
.blue-bottom-shape-section {
    overflow: hidden;
}

.black-bottom-shape-section:before,
.purple-bottom-shape-section:before,
.green-bottom-shape-section:before,
.blue-bottom-shape-section:before {
    content: '';
    position: absolute;
    z-index: 40;
    right: -2em;
    width: 200%;
    height: 12em;
    background-color: #171e27;
    bottom: -10em;
    -webkit-transform: rotate(175deg);
    transform: rotate(175deg);
    -webkit-box-shadow: 0 0.55556rem 0.55556rem 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 0.55556rem 0.55556rem 0 rgba(0, 0, 0, 0.25);
}

.black-bottom-shape-section .container,
.purple-bottom-shape-section .container,
.green-bottom-shape-section .container,
.blue-bottom-shape-section .container {
    padding: 2.222222222222222rem 1.111111111111111rem 7.777777777777778rem;
}

@media only screen and (min-width: 62em) {
    .black-bottom-shape-section .container,
    .purple-bottom-shape-section .container,
    .green-bottom-shape-section .container,
    .blue-bottom-shape-section .container {
        padding: 2.222222222222222rem 1.111111111111111rem 11.11111111111111rem;
    }
}

@media only screen and (min-width: 90em) {
    .black-bottom-shape-section .container,
    .purple-bottom-shape-section .container,
    .green-bottom-shape-section .container,
    .blue-bottom-shape-section .container {
        padding: 7.222222222222222rem 0 13.33333333333333rem;
    }
}

.purple-bottom-shape-section::before {
    background-color: #7f86f5;
}

.green-bottom-shape-section::before {
    background-color: #01cea2;
}

.blue-bottom-shape-section::before {
    background-color: #3eb1f3;
}


/* -------------------------- End of sections ------------------------------- */


/* -------- Hero section ---------- */

.hero-section {
    min-height: calc(100vh - 4.555555555555556rem);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

@media only screen and (min-width: 62em) {
    .hero-section {
        min-height: calc(100vh - 4.722222222222222rem);
    }
}

@media only screen and (min-width: 90em) {
    .hero-section .hero-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .hero-section .img-container {
        margin-right: 5.555555555555556rem;
        max-width: 38.88888888888889rem;
    }
    .hero-section h1 {
        text-align: left;
        width: calc(100% - 38.88888888888889rem - 5.555555555555556rem);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}


/* -------------------------------- */


/* Runtime page */

.quickstart-section .carousel-nav,
.features-section .carousel-nav {
    margin: 0 0 1.111111111111111rem;
}

@media only screen and (min-width: 62em) {
    .quickstart-section .carousel-nav,
    .features-section .carousel-nav {
        margin: 0 0 2rem;
    }
}

.quickstart-carousel .carousel-cell {
    width: 100%;
    text-align: left;
    padding: 0 1.111111111111111rem 1.111111111111111rem;
}

@media only screen and (min-width: 90em) {
    .quickstart-carousel .carousel-cell p {
        float: left;
        width: calc(100% - 40rem);
        padding: 2rem 2rem 0 0;
    }
}

.quickstart-carousel .carousel-cell .code-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
}

@media only screen and (min-width: 90em) {
    .quickstart-carousel .carousel-cell .code-container {
        width: 40rem;
    }
}

.quickstart-carousel .carousel-cell .code-container .lines {
    background-color: #0f1319;
    padding: 1.111111111111111rem;
    text-align: center;
    border: 1px solid #0f1319;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: .5555555555555556rem;
}

@media only screen and (min-width: 48em) {
    .quickstart-carousel .carousel-cell .code-container .lines {
        padding: 2.777777777777778rem 1.666666666666667rem;
        font-size: .7777777777777778rem;
    }
}

@media only screen and (min-width: 90em) {
    .quickstart-carousel .carousel-cell .code-container .lines {
        font-size: 1rem;
    }
}

.quickstart-carousel .carousel-cell .code-container .code {
    background-color: #171e27;
    margin: 0;
    padding: 1.111111111111111rem;
    border: 1px solid #171e27;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    -moz-tab-size: 2;
    -o-tab-size: 2;
    tab-size: 2;
    width: 100%;
    font-size: .5555555555555556rem;
}

@media only screen and (min-width: 48em) {
    .quickstart-carousel .carousel-cell .code-container .code {
        padding: 2.777777777777778rem 1.666666666666667rem;
        font-size: .7777777777777778rem;
    }
}

@media only screen and (min-width: 90em) {
    .quickstart-carousel .carousel-cell .code-container .code {
        font-size: 1rem;
    }
}

.features-carousel .carousel-cell {
    width: 100%;
    text-align: left;
    padding: 0 1.111111111111111rem 1.111111111111111rem;
}

.features-carousel .carousel-cell .img-container {
    text-align: center;
    margin: 0 0 1.111111111111111rem;
}

@media only screen and (min-width: 90em) {
    .features-carousel .carousel-cell .img-container {
        float: left;
        margin: 0 2.222222222222222rem 0 0;
    }
}

@media only screen and (min-width: 90em) {
    .features-carousel .carousel-cell {
        text-align: right;
    }
    .features-carousel .carousel-cell p {
        margin-top: 2rem;
    }
}

.doc-container p {
    text-align: left;
}

.doc-container .doc-img {
    margin: 1.111111111111111em 0;
    text-align: center;
}

.doc-container .doc-img img {
    max-width: 40%;
}

@media only screen and (min-width: 62em) {
    .doc-container {
        text-align: right;
    }
    .doc-container:after {
        clear: both;
        content: "";
        display: block;
    }
    .doc-container h2 {
        margin-right: calc(232px + 12rem);
    }
    .doc-container p {
        text-align: right;
    }
    .doc-container .doc-img {
        float: right;
        margin: -3rem 6rem 0 6rem;
    }
    .doc-container .doc-img img {
        max-width: 100%;
    }
}

@media only screen and (min-width: 90em) {
    .doc-container h2 {
        margin-right: calc(232px + 16rem);
    }
    .doc-container .doc-img {
        margin: -4rem 8rem 0 8rem;
    }
}

.stats-container .stats-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.stats-container .stats-list .stat {
    margin: 0 2.222222222222222rem 4.444444444444444rem;
}

.stats-container .stats-list .stat .icon {
    display: block;
    margin-bottom: 1rem;
    height: 3.944444444444444rem;
    overflow: hidden;
}

.stats-container .stats-list .stat .title {
    font-size: 1.777777777777778em;
    margin: 0 0 .625em;
    display: block;
}

.stats-container .stats-list .stat dd {
    font-size: 2.444444444444444em;
    font-weight: 400;
}

.blog-section {
    background-image: url("../img/bg-blue_blog.svg");
}

.blog-section .blog-container {
    position: relative;
    z-index: 30;
    padding: 2.222222222222222rem 1.111111111111111rem 0;
}

.blog-section .blog-container .blog-intro {
    text-align: left;
    margin-bottom: 2.777777777777778em;
}

@media only screen and (min-width: 62em) {
    .blog-section .blog-container .blog-intro {
        text-align: center;
    }
}

.blog-section .blog-container .blog-entries-container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.blog-section .blog-container .blog-entries-container .blog-entry {
    border-radius: 5px;
    background-clip: padding-box;
    background-color: #171e27;
    padding: 2rem;
    z-index: 50;
    text-align: left;
    position: relative;
    z-index: 80;
}

@media only screen and (min-width: 48em) {
    .blog-section .blog-container .blog-entries-container .blog-entry {
        width: 40%;
    }
}

@media only screen and (min-width: 62em) {
    .blog-section .blog-container .blog-entries-container .blog-entry {
        width: 30%;
    }
}

@media only screen and (min-width: 90em) {
    .blog-section .blog-container .blog-entries-container .blog-entry {
        width: 22%;
    }
}

.blog-section .blog-container .blog-entries-container .blog-entry .dark-layer {
    background-color: #171e27;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: 90;
    opacity: .5;
    border-radius: 5px;
    background-clip: padding-box;
}

.blog-section .blog-container .blog-entries-container .blog-entry .blog-img {
    margin: 1.111111111111111em 0;
    text-align: center;
}

.blog-section .blog-container .blog-entries-container .btn-container {
    position: absolute;
    z-index: 100;
    top: 9em;
    left: 0;
    right: 0;
    text-align: center;
}


/* End of Runtime page */


/* Common to 3 pages */

@media only screen and (min-width: 90em) {
    .clients-container {
        padding: 7.222222222222222rem 0 2.222222222222222rem;
    }
}

.clients-container .clients-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 0 2rem;
}

@media only screen and (min-width: 62em) {
    .clients-container .clients-list {
        opacity: 0.2;
    }
}

.clients-container .clients-list li {
    width: 50%;
    padding: 3rem 0;
    text-align: center;
    -ms-flex-item-align: center;
    align-self: center;
}

@media only screen and (min-width: 62em) {
    .clients-container .clients-list li {
        width: 25%;
        padding: 2.5rem 0;
    }
}

@media only screen and (min-width: 62em) {
    .clients-container .btn-container {
        position: absolute;
        z-index: 50;
        left: 0;
        right: 0;
        top: 48%;
    }
}

@media only screen and (min-width: 90em) {
    .clients-container .btn-container {
        top: 57%;
    }
}

.outro-runtime-section .outro-runtime-container,
.outro-enterprise-section .outro-enterprise-container,
.outro-monitoring-section .outro-monitoring-container {
    position: relative;
    z-index: 30;
    padding: 10rem 0 20rem;
}

.flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

@media only screen and (min-width: 90em) {
    .flex-container {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        margin-top: 5.555555555555556rem;
    }
}

.flex-container .img-container-right {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
    margin: 1.111111111111111rem 0;
}

.flex-container .img-container-right img {
    display: block;
}

@media only screen and (min-width: 90em) {
    .flex-container .img-container-right {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
        width: 40rem;
        margin: 0 0 0 5.555555555555556rem;
    }
}

.flex-container .img-container-left,
.flex-container .video-container-left {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
    margin: 1.111111111111111rem 0;
}

.flex-container .img-container-left img,
.flex-container .video-container-left img {
    display: block;
}

@media only screen and (min-width: 90em) {
    .flex-container .img-container-left,
    .flex-container .video-container-left {
        width: 40rem;
        margin: 0 5.555555555555556rem 0 0;
    }
}

.flex-container .content-container {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    text-align: left;
}

@media only screen and (min-width: 90em) {
    .flex-container .content-container {
        text-align: right;
        width: calc(100% - 45.555555555555556rem);
    }
}


/* End of common to 3 pages */


/* Enterprise page */

.benefits-carousel {
    margin: 0 0 1.111111111111111rem;
}

.benefits-carousel:after {
    content: 'flickity';
    display: none;
}

@media only screen and (min-width: 62em) {
    .benefits-carousel {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }
    .benefits-carousel:after {
        content: '';
    }
}

.benefits-carousel .flickity-page-dots .dot.is-selected {
    background: #ffffff;
}

.benefits-carousel .carousel-cell {
    width: 80%;
    padding: .8333333333333333rem;
}

@media only screen and (min-width: 62em) {
    .benefits-carousel .carousel-cell {
        width: 50%;
    }
}

@media only screen and (min-width: 90em) {
    .benefits-carousel .carousel-cell {
        padding: 1.666666666666667rem;
    }
    .benefits-carousel .carousel-cell.no-padding-xlarge {
        padding: 1.666666666666667rem 1.666666666666667rem 0;
    }
}

.benefits-carousel .carousel-cell .box {
    border-radius: 3px;
    background-clip: padding-box;
    background-color: #ffffff;
    color: #171e27;
    padding: .5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
}

@media only screen and (min-width: 90em) {
    .benefits-carousel .carousel-cell .box {
        padding: 1.666666666666667rem;
    }
}

.benefits-carousel .carousel-cell .box .img-container {
    margin: 0 1rem 0 0;
    width: 3.333333333333333rem;
    height: 3.333333333333333rem;
}

@media only screen and (min-width: 90em) {
    .benefits-carousel .carousel-cell .box .img-container {
        width: 5rem;
        height: 5rem;
        margin: 0 2.222222222222222rem 0 0;
    }
}

.benefits-carousel .carousel-cell .box .img-container img {
    display: block;
}

.benefits-carousel .carousel-cell .box .img-container.img2 img {
    margin-top: .2777777777777778rem;
}

.benefits-carousel .carousel-cell .box .content {
    text-align: left;
    padding: 0;
    width: calc(100% - 4.333333333333333rem);
}

.benefits-carousel .carousel-cell .box .content h6 {
    color: #7f86f5;
}

.benefits-carousel .carousel-cell .box .content p {
    font-size: .7777777777777778rem;
    margin: 0;
}

@media only screen and (min-width: 90em) {
    .benefits-carousel .carousel-cell .box .content {
        width: calc(100% - 7.222222222222222rem);
    }
    .benefits-carousel .carousel-cell .box .content p {
        font-size: 1.333333333333333rem;
    }
}

.customers-section .left-cubes,
.customers-section .right-cubes {
    position: absolute;
    top: 50%;
    margin-top: -10.77777777777778rem;
    left: 0;
    z-index: 50;
}

@media only screen and (min-width: 116em) {
    .customers-section .left-cubes,
    .customers-section .right-cubes {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: left;
        -ms-flex-pack: left;
        justify-content: left;
    }
}

.customers-section .left-cubes .four-cubes .cube,
.customers-section .right-cubes .four-cubes .cube {
    border-radius: 3px;
    background-clip: padding-box;
    background-color: #ffffff;
    width: 5rem;
    height: 4.166666666666667rem;
    margin-right: 1.777777777777778rem;
}

.customers-section .left-cubes .four-cubes .cube:not(:last-child),
.customers-section .right-cubes .four-cubes .cube:not(:last-child) {
    margin-bottom: 1.111111111111111rem;
}

.customers-section .left-cubes .three-cubes .cube,
.customers-section .right-cubes .three-cubes .cube {
    border-radius: 3px;
    background-clip: padding-box;
    background-color: #ffffff;
    width: 8.888888888888889rem;
    height: 5.555555555555556rem;
}

.customers-section .left-cubes .three-cubes .cube:not(:last-child),
.customers-section .right-cubes .three-cubes .cube:not(:last-child) {
    margin: 0 0 1.722222222222222rem;
}

.customers-section .right-cubes {
    left: auto;
    right: 0;
}

.customers-section .right-cubes .four-cubes .cube {
    margin-right: 0;
    margin-left: 1.777777777777778rem;
}

.customers-section .carroussel-buttons .button {
    position: absolute;
    left: 5.9rem;
    top: 12.5rem;
    z-index: 100;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #ffffff;
    width: 13.88888888888889rem;
    height: 9.444444444444444rem;
    border-radius: 3px;
    background-clip: padding-box;
    overflow: hidden;
}

.customers-section .carroussel-buttons .button:hover,
.customers-section .carroussel-buttons .button.is-selected {
    background-color: #7f86f5;
}

.customers-section .carroussel-buttons .button img {
    -ms-flex-item-align: center;
    align-self: center;
    position: relative;
    z-index: 1;
}

.customers-section .carroussel-buttons .button.button2 {
    top: 23rem;
}

.customers-section .carroussel-buttons .button.button3 {
    left: auto;
    right: 5.9rem;
}

.customers-section .carroussel-buttons .button.button4 {
    right: 5.9rem;
    top: 23rem;
    left: auto;
}

.customers-carousel {
    margin: 0 auto 1.111111111111111rem;
    /* big buttons, no circle */
    /* arrow color */
    /* hide disabled button */
}

@media only screen and (min-width: 62em) {
    .customers-carousel {
        width: 40rem;
    }
}

.customers-carousel .carousel-cell {
    width: 100%;
    padding: .8333333333333333rem;
}

.customers-carousel .carousel-cell .box {
    border-radius: 3px;
    background-clip: padding-box;
    overflow: hidden;
    background-color: #ffffff;
    margin: 0 0 1.666666666666667rem;
}

.customers-carousel .carousel-cell .box .introduction {
    color: #202a37;
    text-align: left;
    padding: 1rem;
}

@media only screen and (min-width: 90em) {
    .customers-carousel .carousel-cell .box .introduction {
        padding: 2.222222222222222rem;
    }
    .customers-carousel .carousel-cell .box .introduction p {
        font-size: 1.555555555555556rem;
    }
}

.customers-carousel .carousel-cell .box .msg-from {
    background: #7f86f5;
    padding: .7777777777777778rem 1rem;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

@media only screen and (min-width: 90em) {
    .customers-carousel .carousel-cell .box .msg-from {
        padding: 1.666666666666667rem 2.222222222222222rem;
    }
}

.customers-carousel .carousel-cell .box .msg-from .author {
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
}

.customers-carousel .carousel-cell .box .msg-from .author .avatar-container {
    margin-right: 1rem;
    width: 2.222222222222222rem;
}

.customers-carousel .carousel-cell .box .msg-from .author .avatar-container img {
    border-radius: 50%;
    background-clip: padding-box;
    display: block;
}

@media only screen and (min-width: 90em) {
    .customers-carousel .carousel-cell .box .msg-from .author .avatar-container {
        width: 4.444444444444444rem;
    }
}

.customers-carousel .carousel-cell .box .msg-from .author p {
    font-size: .7777777777777778rem;
    margin: 0;
}

.customers-carousel .carousel-cell .box .msg-from .author p span {
    font-size: .6666666666666667rem;
}

@media only screen and (min-width: 90em) {
    .customers-carousel .carousel-cell .box .msg-from .author p {
        font-size: 1.555555555555556rem;
    }
    .customers-carousel .carousel-cell .box .msg-from .author p span {
        font-size: 1.333333333333333rem;
    }
}

.customers-carousel .carousel-cell .box .msg-from .brand-container {
    -ms-flex-item-align: end;
    align-self: flex-end;
    margin-top: .7777777777777778rem;
    width: 4.166666666666667rem;
}

@media only screen and (min-width: 30em) {
    .customers-carousel .carousel-cell .box .msg-from .brand-container {
        margin-top: 0;
    }
}

@media only screen and (min-width: 90em) {
    .customers-carousel .carousel-cell .box .msg-from .brand-container {
        width: 8.333333333333333rem;
    }
}

.customers-carousel .flickity-prev-next-button {
    width: 3rem;
    height: 3rem;
    background: transparent;
    top: auto;
    bottom: -1.2rem;
}

@media only screen and (min-width: 90em) {
    .customers-carousel .flickity-prev-next-button {
        bottom: -.7rem;
    }
}

.customers-carousel .flickity-prev-next-button:hover {
    background: transparent;
}

.customers-carousel .flickity-prev-next-button .arrow {
    fill: #ffffff;
}

.customers-carousel .flickity-prev-next-button.no-svg {
    color: #ffffff;
}

.customers-carousel .flickity-prev-next-button:disabled {
    display: none;
}

@media only screen and (min-width: 90em) {
    .custom-int-section .flex-container .img-container-right {
        width: 27.77777777777778rem;
    }
}

@media only screen and (min-width: 90em) {
    .custom-int-section .flex-container .content-container {
        width: calc(100% - 33.33333333333334rem);
    }
}

.training-section .flex-container .content-container {
    text-align: center;
}

@media only screen and (min-width: 90em) {
    .training-section .flex-container .content-container {
        text-align: right;
    }
}

@media only screen and (min-width: 90em) {
    .support-section .support-container {
        padding: 7.222222222222222rem 0 17.33333333333333rem;
    }
}

@media only screen and (min-width: 90em) {
    .support-section .support-container .flex-container .img-container-left {
        width: 24.44444444444444rem;
    }
}

@media only screen and (min-width: 90em) {
    .support-section .support-container .flex-container .content-container {
        width: calc(100% - 30rem);
        text-align: left;
    }
}

.contact-section .flex-container .content-container {
    text-align: center;
}

@media only screen and (min-width: 90em) {
    .contact-section .flex-container .content-container {
        text-align: left;
    }
}

.install-section .install-carousel {
    margin: 0 auto 2.222222222222222rem;
    /* big buttons, no circle */
}

.install-section .install-carousel .carousel-cell {
    width: 100%;
    padding: 0 1.111111111111111rem 1.111111111111111rem;
}

@media only screen and (min-width: 90em) {
    .install-section .install-carousel .carousel-cell .flex-container .content-container {
        text-align: left;
    }
}

.install-section .install-carousel .flickity-prev-next-button {
    width: 3rem;
    height: 3rem;
    background: transparent;
    top: auto;
    bottom: -3.8rem;
    z-index: 50;
}

@media only screen and (min-width: 90em) {
    .install-section .install-carousel .flickity-prev-next-button {
        bottom: -1rem;
    }
}

@media only screen and (min-width: 90em) {
    .install-section .install-carousel .flickity-prev-next-button.previous {
        left: auto;
        right: 31rem;
    }
}

@media only screen and (min-width: 90em) {
    .install-section .install-carousel .flickity-prev-next-button.next {
        right: 28rem;
    }
}

@media only screen and (min-width: 90em) {
    .install-section .install-carousel .flickity-page-dots {
        text-align: left;
        padding: 0 0 0 18rem;
    }
}

.install-section .install-carousel .flickity-prev-next-button:hover {
    background: transparent;
}

.install-section .install-carousel .flickity-prev-next-button .arrow {
    fill: #ffffff;
}

.install-section .install-carousel .flickity-prev-next-button.no-svg {
    color: #ffffff;
}

.install-section .install-carousel .flickity-prev-next-button:disabled {
    display: none;
}

.install-section .install-carousel .flickity-page-dots .dot.is-selected {
    background: #7f86f5;
}


/* End of enterprise page */


/* Monitoring page */

.newsletter-section p {
    font-weight: 100;
    font-size: 1.333333333333333rem;
    letter-spacing: .0277777777777778rem;
}

@media only screen and (min-width: 90em) {
    .newsletter-section p {
        font-size: 2.666666666666667rem;
        letter-spacing: .1111111111111111rem;
    }
}

.monitor-carousel .carousel-cell,
.debug-carousel .carousel-cell,
.extra-feature-carousel .carousel-cell {
    width: 100%;
    padding: 0 1.111111111111111rem 1.111111111111111rem;
}

@media only screen and (min-width: 90em) {
    .monitor-carousel .carousel-cell .flex-container .content-container,
    .debug-carousel .carousel-cell .flex-container .content-container,
    .extra-feature-carousel .carousel-cell .flex-container .content-container {
        text-align: left;
    }
}

@media only screen and (min-width: 90em) {
    .debug-carousel .carousel-cell .flex-container .content-container {
        text-align: right;
    }
}

.monitor-nav-carousel,
.debug-nav-carousel,
.extra-feature-nav-carousel {
    margin: 0 0 1.111111111111111rem;
}

@media only screen and (min-width: 90em) {
    .monitor-nav-carousel,
    .debug-nav-carousel,
    .extra-feature-nav-carousel {
        margin: 3.333333333333333rem 0 0;
    }
}

.monitor-nav-carousel .carousel-cell,
.debug-nav-carousel .carousel-cell,
.extra-feature-nav-carousel .carousel-cell {
    width: 80%;
    padding: 0 .5555555555555556rem 1.111111111111111rem;
}

@media only screen and (min-width: 90em) {
    .monitor-nav-carousel .carousel-cell,
    .debug-nav-carousel .carousel-cell,
    .extra-feature-nav-carousel .carousel-cell {
        width: 30%;
    }
}

.monitor-nav-carousel .carousel-cell .box,
.debug-nav-carousel .carousel-cell .box,
.extra-feature-nav-carousel .carousel-cell .box {
    padding: .5555555555555556rem;
    background-color: #13181f;
    border-radius: 3px;
    background-clip: padding-box;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
    min-height: 6.111111111111111rem;
}

@media only screen and (min-width: 90em) {
    .monitor-nav-carousel .carousel-cell .box,
    .debug-nav-carousel .carousel-cell .box,
    .extra-feature-nav-carousel .carousel-cell .box {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        padding: 1.277777777777778rem;
        min-height: 15.27777777777778rem;
    }
}

.monitor-nav-carousel .carousel-cell .box .img-container,
.debug-nav-carousel .carousel-cell .box .img-container,
.extra-feature-nav-carousel .carousel-cell .box .img-container {
    margin-right: .8333333333333333rem;
}

@media only screen and (min-width: 90em) {
    .monitor-nav-carousel .carousel-cell .box .img-container,
    .debug-nav-carousel .carousel-cell .box .img-container,
    .extra-feature-nav-carousel .carousel-cell .box .img-container {
        margin-right: 0;
    }
}

.monitor-nav-carousel .carousel-cell .box .img-container img,
.debug-nav-carousel .carousel-cell .box .img-container img,
.extra-feature-nav-carousel .carousel-cell .box .img-container img {
    display: block;
    border-radius: 50%;
    background-clip: padding-box;
    background-color: #202a37;
    padding: .5rem;
    width: 3.888888888888889rem;
    height: 3.888888888888889rem;
}

@media only screen and (min-width: 90em) {
    .monitor-nav-carousel .carousel-cell .box .img-container img,
    .debug-nav-carousel .carousel-cell .box .img-container img,
    .extra-feature-nav-carousel .carousel-cell .box .img-container img {
        width: 5.555555555555556rem;
        height: 5.555555555555556rem;
        padding: .8rem;
    }
}

.monitor-nav-carousel .carousel-cell .box .content,
.debug-nav-carousel .carousel-cell .box .content,
.extra-feature-nav-carousel .carousel-cell .box .content {
    text-align: left;
    width: calc(100% - 4.722222222222222rem);
}

@media only screen and (min-width: 90em) {
    .monitor-nav-carousel .carousel-cell .box .content,
    .debug-nav-carousel .carousel-cell .box .content,
    .extra-feature-nav-carousel .carousel-cell .box .content {
        text-align: center;
    }
    .monitor-nav-carousel .carousel-cell .box .content h4,
    .debug-nav-carousel .carousel-cell .box .content h4,
    .extra-feature-nav-carousel .carousel-cell .box .content h4 {
        padding: 1rem 0 1.5rem;
    }
    .monitor-nav-carousel .carousel-cell .box .content p,
    .debug-nav-carousel .carousel-cell .box .content p,
    .extra-feature-nav-carousel .carousel-cell .box .content p {
        font-size: 1.111111111111111rem;
    }
}

.monitor-nav-carousel .carousel-cell.is-selected .box,
.debug-nav-carousel .carousel-cell.is-selected .box,
.extra-feature-nav-carousel .carousel-cell.is-selected .box {
    -webkit-box-shadow: 0 0.55556rem 0.55556rem 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 0.55556rem 0.55556rem 0 rgba(0, 0, 0, 0.25);
    background-color: #171e27;
}

@media only screen and (min-width: 90em) {
    .monitor-nav-carousel .flickity-page-dots,
    .debug-nav-carousel .flickity-page-dots,
    .extra-feature-nav-carousel .flickity-page-dots {
        display: none;
    }
}

.monitor-nav-carousel .flickity-page-dots .dot.is-selected,
.debug-nav-carousel .flickity-page-dots .dot.is-selected,
.extra-feature-nav-carousel .flickity-page-dots .dot.is-selected {
    background: #01cea2;
}

.nodejs-section {
    overflow: hidden;
}

.nodejs-section .counter {
    font-size: 2.666666666666667rem;
    font-weight: 500;
    letter-spacing: .1111111111111111rem;
    margin: 0 0 1.111111111111111rem;
    position: relative;
    z-index: 50;
}

@media only screen and (min-width: 90em) {
    .nodejs-section .counter {
        font-size: 68px;
        letter-spacing: 2.8px;
    }
}

.nodejs-section .tagline {
    font-size: 1.333333333333333rem;
    letter-spacing: .0555555555555556rem;
    position: relative;
    z-index: 50;
    margin: 0 0 8rem;
}

@media only screen and (min-width: 90em) {
    .nodejs-section .tagline {
        font-size: 32px;
        letter-spacing: 1.2px;
    }
}

.nodejs-section .btn-container {
    position: relative;
    z-index: 50;
}

.nodejs-section .server-img {
    position: absolute;
    bottom: -15rem;
    left: 50%;
    margin-left: -13.11111111111111rem;
    z-index: 1;
}

@media only screen and (min-width: 90em) {
    .nodejs-section .server-img {
        bottom: -10rem;
    }
}

.nodejs-section .server1 {
    left: -16%;
}

.nodejs-section .server2 {
    bottom: -12rem;
    left: 17%;
}

.nodejs-section .server4 {
    bottom: -12rem;
    left: 83%;
}

.nodejs-section .server5 {
    left: auto;
    right: -32%;
}


/* End of monitoring-page */

footer.footer-section {
    background-color: #171e27;
    z-index: 90;
}

footer.footer-section .footer-container {
    padding: 1.111111111111111rem;
}

footer.footer-section .footer-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: left;
}

footer.footer-section .footer-nav dl {
    margin: 0 0 2.222222222222222rem;
    width: 12rem;
}

@media only screen and (min-width: 90em) {
    footer.footer-section .footer-nav dl {
        width: auto;
        margin: 0 4.444444444444444rem 2.222222222222222rem;
    }
}

footer.footer-section .footer-nav dl dt {
    text-transform: uppercase;
    font-size: 1.333333333333333em;
    padding: .625rem 0;
}

footer.footer-section .footer-nav dl dd a {
    display: block;
    font-size: 1.333333333333333em;
    color: #6a6a6a;
    padding: .625em 0;
}

footer.footer-section .footer-nav dl .is-inline-block:not(:last-child) {
    margin-right: .5rem;
}

footer.footer-section .footer-nav dl .is-inline-block .icon {
    border: 1px solid #6a6a6a;
    border-radius: 50%;
    padding: .3rem .5rem .2rem;
    margin-top: .625em;
}

footer.footer-section .footer-nav dl .is-inline-block .icon:hover,
footer.footer-section .footer-nav dl .is-inline-block .icon:active,
footer.footer-section .footer-nav dl .is-inline-block .icon:focus {
    background-color: #ffffff;
}

footer.footer-section .footer-nav dl .is-inline-block .icon .svg {
    width: 1rem;
    height: 1rem;
}

footer.footer-section .copyright {
    border-top: 1px solid #979797;
    padding: 1.111111111111111em 0 0;
    text-align: center;
}

footer.footer-section .copyright p {
    color: #6a6a6a;
    font-size: 1.111111111111111em;
    margin: 0 0 1.111111111111111em;
}

footer.footer-section .copyright ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

footer.footer-section .copyright ul li {
    width: 50%;
}

footer.footer-section .copyright ul li a {
    color: #6a6a6a;
    font-size: 1.111111111111111em;
}

@media only screen and (min-width: 90em) {
    footer.footer-section .copyright {
        text-align: left;
    }
    footer.footer-section .copyright p {
        display: inline-block;
        vertical-align: bottom;
    }
    footer.footer-section .copyright ul {
        float: right;
    }
    footer.footer-section .copyright ul li {
        width: auto;
        margin-left: 4.444444444444444rem;
    }
}