{% if page.url contains "runtime" %}{% assign class = "runtime-page" %}{% elsif page.url contains "monitoring" %}{% assign class = "monitoring-page" %}{% elsif page.url contains "enterprise" %}{% assign class = "enterprise-page" %}
<!DOCTYPE html>
<html class="{{class}}">
{% endif %}

{% include head.html %}

<body class="ready sticky">

    {% include header.html %}

    <!-- MAIN-CONTENT AREA -->
    <main>
        {% include sidebar.html %}

        <section class="content">
            {% if page.url contains 'runtime' %}
            {% include runtime-topblock.html %}
            {% endif %}
            <article id="main" class="markdown-section">
                {{ content }}
            </article>
        </section>

        {% include footer.html %}
    </main>
</body>
    {% include scripts_footer.html %}
</html>
