<!DOCTYPE html>
<html amp>

{% include head.html %}

<body>

{% include header.html %}

<div class="container-fluid">
    <div class="row flex-xl-nowrap">
        <!-- SIDEBAR -->
        <div id="sidebar" class="d-none d-md-block col-md-3 col-xl-2 text-center sidebar j-sidebar" {% if page.group %} style="overflow: auto;" {% endif %}>

            {% if page.sidebar-img %}
            <img class="mt-4" src={{ "assets/photos/" | relative_url }}{{ page.sidebar-img}}>
            {% endif %}

         </div><!-- SIDEBAR END -->

        <!-- MAIN-CONTENT AREA -->
        <main class="col-12 col-md-9 col-xl-8 pt-md-3 pl-md-5" role="main">

            <article>

                <!-- HEADER  -->
                {% if page.title %}<h3 class="mb-0">{{ page.title }}</h3>{% endif %}
                {% if page.subtitle %}<h5 class="mb-0">{{ page.subtitle }}</h5>{% endif %}
                <hr class="mt-1 black-divider">

                <ul>
                {% for item in site.locations %}
                    <li>
                        <strong>{{ item.city }},{{ item.state }}.</strong>
                        <p>Our {{ item.city }} office is located at {{ item.address }}{{ item.city }}, {{ item.state }} {{ item.content  | remove: '<p>' | remove: '</p>' }}</p>
                    </li>
                {% endfor %}
                </ul>


                {% if page.content-img %}
                <img class="float-right mt-2 pl-3" src={{ "assets/photos/" | relative_url }}{{ page.content-img}}  {% if page.name == 'Spring Rowell' %} height="263" width="212"{% endif %}>
                {% endif %}

                {{ content }}

            </article>

            {% include footer.html %}
        </main>

    </div>

</div>

</body>
</html>
