<!DOCTYPE html>
{% if page.lang %}
<html lang="{{ page.lang }}">
  {% include head.html %}
  {% if page.lang == 'en' %}
  <body class="en-doc sticky {{ page.section }}-page">
  {% else %}
  <body class="non-en-doc sticky {{ page.section }}-page">
  {% endif %}
  {% include header/header-{{ page.lang }}.html %}
  {% include sidebar.html %}

  <section class="content">
    <button class="btn-stylized show-menu">↩ Show Menu</button>
    <header class="gettings_started_block">
      <h1>PM2 {{page.section | capitalize}} | {{ page.title | replace: "| PM2 Documentation", ""| replace: "| PM2 Plus Documentation", "" | replace: "| PM2 Enterprise Documentation", "" }}</h1>
    </header>

    <article id="main" class="markdown-section">
      {% include edit-page/edit-page-{{ page.lang }}.html %}
      {{ content }}

      <div id="gittalk"></div>
    </article>

    {% include footer/footer-{{ page.lang }}.html %}
  </section>



  {% include meta-footer.html %}
  </body>
</html>
{% endif %}
