<!DOCTYPE html>
{% if page.lang %}
<html lang="{{ page.lang }}">
  {% include head.html %}
  {% if page.lang == 'en' %}
  <body class="en-doc sticky {{ page.section }}-page">
  {% else %}
  <body class="non-en-doc sticky {{ page.section }}-page">
  {% endif %}
  {% include header/header-{{ page.lang }}.html %}
  <section class="content">

    {% include sidebar.html %}

    <div class="content-container">

      <div class="content-main">
        <button class="btn-stylized show-menu">↩ Show Menu</button>
        <header class="gettings_started_block">

          {% assign breadcrumb = page.title | replace: "| PM2 Documentation", ""| replace: "| PM2 Plus Documentation", "" | replace: "| PM2 Enterprise Documentation", "" | split: " | "  | reverse %}
          <h1>PM2 {{page.section | capitalize}}{% for item in breadcrumb %}{% if item %} | {{ item }}{% endif %}{% endfor %}
          </h1>
        </header>

        <article id="main" class="markdown-section">
          {% include edit-page/edit-page-{{ page.lang }}.html %}
          {{ content }}

          {% if page.hide_comments %}
          {% else %}
          <div id="gittalk"></div>
          {% endif %}
        </article>
        {% include footer/footer-{{ page.lang }}.html %}
      </div>
    </div>
  </section>



  {% include meta-footer.html %}
  </body>
</html>
{% endif %}
